<ul class="nav nav-pills" id="results-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-pendingtask-tab" data-bs-toggle="pill" data-bs-target="#pills-pendingtask"
      type="button" role="tab" aria-controls="pills-pendingtask" aria-selected="True">Pending</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-pasttasks-tab" data-bs-toggle="pill" data-bs-target="#pills-pasttasks"
      type="button" role="tab" aria-controls="pills-pasttasks" aria-selected="false">Past</button>
  </li>
</ul>
<div class="tab-content container-fluid" id="pills-tabContent">
  <div class="tab-pane fade show active mt-2" id="pills-pendingtask" role="tabpanel"
    aria-labelledby="pills-pendingtask-tab">
    <div *ngIf="this.pendingTasks.results.length > 0 else noTasks">
      <div class="row">
        <div class="col">
          <select (change)="getPendingTask()" id="selectPendingResult" [(ngModel)]="this.pending_task_selected"
            class="form-select" aria-label="Default select example">
            <option *ngFor="let idx of objectKeys(this.pendingTasks.results)"
              [value]='this.pendingTasks.results[idx].id'>{{this.pendingTasks.results[idx].id}}</option>
          </select>
          <div *ngIf="this.pending_task?.result" class="container-information mt-2 ml-2">
            <div class="card-body">
              <div class="row">
                <div class="col-2 text">
                  <strong>Name</strong>
                </div>
                <div class="col-10">
                  {{this.pending_task['task description'].name}}
                </div>
              </div>
              <div class="row">
                <div class="col-2 text">
                  <strong>Description</strong>
                </div>
                <div class="col-10">
                  {{this.pending_task['task description'].description}}
                </div>
              </div>
            </div>   
            
            <form id="taskForm"  #taskForm="ngForm" (ngSubmit)="onSubmit()" class="container-form mt-3">

              <div  *ngIf="this.pending_task.result.result_type === 'value'" class="mb-2">
              <div  class="row mt-2 mb-3">
                <label for="inputPassword3" class="col-2 col-form-label">Parameter:</label>
                <div class="col-10">
                  <input  name="parameter" placeholder="" [(ngModel)]="this.parameter" type="text" class="form-control" id="parameter">
                </div>
              </div>
              <div class="row mb-3">
                <label *ngIf="this.pending_task.result.result_type === 'value'" for="inputPassword3"  class="col-2 col-form-label">Value:</label>
                <label *ngIf="this.pending_task.result.result_type === 'text'" for="inputPassword3" class="col-2 col-form-label">Report:</label>
                <div class="col-10">
                  <input required placeholder="" [(ngModel)]="this.model.value"   type="text" class="form-control" name="value" id="value">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputPassword3" class="col-2 col-form-label">Unit:</label>
                <div class="col-10">
                  <input   placeholder=""   [(ngModel)]="this.model.unit" type="text" class="form-control" name="unit" id="unit">
                </div>
              </div>
              <div>
                <div class="row">
                  <div class="col text-end">
                    <div class="d-inline" *ngFor="let idx of objectKeys(this.parameters)">
                      {{this.parameters[idx].parameter}} <a (click)="deleteParameter(this.parameters[idx].parameter)" class="btn ms-auto" role="button"><i class="fa-solid fa-circle-minus fa-lg" style="color: #e01b24;"></i></a>
                    </div>
                  </div>
                  <div class="col-1 text-end d-inline"> 
                    <a (click)="addNewParameter()" style="color: green;" class="btn ms-auto"  role="button"><i class="fa-solid fa-circle-plus fa-lg"></i></a>
                    <a *ngIf="this.pending_task['task description'].method_link === 'local_models'"  role="button" (click)="executePredict()" class="btn btn-ets-do">Predict</a>
                  </div>
                </div>
                </div>
              </div>
              <div *ngIf="this.pending_task.result.result_type === 'text'" class="row mb-3">
                <label  for="inputPassword3" class="col-2 col-form-label">Report:</label>
                <div class="col-10">
                  <input required placeholder=""[(ngModel)]="this.report"  type="text" class="form-control" name="report" id="report">
                </div>
              </div>
              <div *ngIf="this.pending_task.result.result_type === 'value'" class="row mb-3">
                <label for="inputPassword3" class="col-2 col-form-label">Uncertainty:</label>
                <div class="col-10">
                  <input  placeholder=""  [(ngModel)]="this.model.uncertainty" type="text" class="form-control" id="uncertainty" name="uncertainty">
                </div>
              </div>
              <div>
              <div class="row mt-2 mb-3">
                 <label for="inputPassword3" class="col-2 col-form-label">Documentation:</label>
                <div class="col-10">
                  <div class="row">
                    <div class="col-3"><input type="text" [(ngModel)]="this.labelFile" name="labelFile" placeholder="label" class="form-control"></div>
                    <div class="col"><input  placeholder="" [(ngModel)]="this.model.result_link" type="file" class="form-control" name="result_link" id="result_link"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col text-end">
                  <div class="d-inline" *ngFor="let idx of objectKeys(this.documents)">
                    {{this.documents[idx].label}} <a (click)="deleteFile(this.documents[idx].label)" class="btn ms-auto" role="button"><i class="fa-solid fa-circle-minus fa-lg" style="color: #e01b24;"></i></a>
                  </div>
                </div>
                <div class="col-1 text-end"> 
                  <a (click)="sendlink()" style="color: green;" class="btn ms-auto"  role="button"><i class="fa-solid fa-circle-plus fa-lg"></i></a>
                </div>
              </div>

            </div>
              <div class="row mb-3">
                <label for="inputPassword3" class="col-2 col-form-label">Summary:</label>
               <div class="col-10">
                <textarea  placeholder="" [(ngModel)]="this.model.summary"  class="form-control" name="summary" id="summary" rows="4"></textarea>
               </div>
             </div>
              <button [disabled]="taskForm.invalid && this.model?.values?.length < 1"  type="submit" class="btn btn-ets-do submit-button">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noTasks>No pending Tasks</ng-template>
  </div>
  <div class="tab-pane fade" id="pills-pasttasks" role="tabpanel" aria-labelledby="pills-pasttasks-tab">
    <div class="row">
      <div class="col">
        <table id="dtTasks" class="display compact">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>summary</th>
              <th>value</th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="selectTask(result.id)" *ngFor="let result of this.results.results">
              <td>{{result.id}}</td>
              <td>{{result.name}}</td>
              <td>{{result.summary}}</td>
              <td *ngIf="isObject(result.values[0]) else reportTD">{{result.values[0].parameter}},{{result.values[0].value}},{{result.values[0].unit}} <span *ngIf="result.values.length > 0">...</span></td>
            <ng-template #reportTD><td>{{result.values[0] | slice:0:20}}...  </td></ng-template>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mt-2" *ngIf="this.results.resultSelected.result">
      <hr>
      <div class="card-body mb-3">
        <div class="row">
          <div class="col-2 text">
            <strong>Name</strong>
          </div>
          <div class="col-10">
            {{this.results.resultSelected['task description'].name}}
          </div>
        </div>
        <div class="row">
          <div class="col-2 text">
            <strong>Description</strong>
          </div>
          <div class="col-10">
            {{this.results.resultSelected['task description'].description}}
          </div>
        </div>
      </div>
      <div
       class="card-body">
        <div class="row pt-1 pb-1">
          <div *ngIf="this.results.resultSelected.result.result_type === 'text'" class="col-2 text  border-bottom">
            Report
          </div>
          <div *ngIf='this.results.resultSelected.result.result_type === "value"' class="col-2 text  border-bottom">
            Values
          </div>
          <div class="col border-bottom">
            <table *ngIf="isObject(this.results.resultSelected.result.values[0])"  class="table table-borderless">
              <thead class="text">
                <tr style="text-align: center;">
                  <th >Parameter</th>
                  <th >Value</th>
                  <th >Unit</th>
                </tr>
              </thead>
              <tbody *ngFor="let idx of objectKeys(this.results.resultSelected.result.values)">
                <tr style="text-align: center;">
                  <td>{{this.results.resultSelected.result.values[idx].parameter}}</td>
                  <td>{{this.results.resultSelected.result.values[idx].value}}</td>
                  <td>{{this.results.resultSelected.result.values[idx].unit}}</td>
                </tr>
              </tbody>
              </table>
              <div *ngIf="this.results.resultSelected.result.result_type === 'text'" class="col border-bottom">
                {{this.results.resultSelected.result.values[0]}}
              </div>
          </div>
        </div>
        <div class="row pt-1 pb-1" *ngIf="this.results.resultSelected.result.uncertainty">
          <div class="col-2 text  border-bottom">
            Uncertainty
          </div>
          <div class="col border-bottom">
            {{this.results.resultSelected.result.uncertainty}}
          </div>
        </div>
        <div *ngIf="this.results.resultSelected.result.links" class="row pt-1 pb-1">
          <div class="col-2 text  border-bottom d-flex  align-items-center">
            Documentation
          </div>
          <div class="col border-bottom">
            <div class="d-inline mx-1" *ngFor="let idx of objectKeys(this.results.resultSelected.result.links)">
              <button (click)="downloadFile(this.results.resultSelected.result.links[idx].File)" class="btn btn-outline-success mt-2 mb-2">{{this.results.resultSelected.result.links[idx].label}} </button>
            </div>
          </div>
        </div>
        <div class="row pt-1 pb-1">
          <div class="col-2 text  border-bottom">
            Summary
          </div>
          <div class="col border-bottom">
            {{this.results.resultSelected.result.summary}}
          </div>
        </div>
        <div  *ngIf="this.results.resultSelected?.result?.substance?.length > 1" class="row pt-1 pb-1">
          <div class="col-2 text">
          Substance
          </div>
          <div   class="col">
            <table id="dtSubstancesTasks" class="table table-borderless">
              <thead class="text">
                <tr>
                  <th  style="text-align: center;">Name</th>
                  <th  style="text-align: center;">CASRN</th>
                  <th style="text-align: center;">SMILES</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let idx of objectKeys(this.results.resultSelected.result.substance)">
                  <td style="vertical-align: middle;text-align: center;">{{this.results.resultSelected.result.substance[idx].name}}</td>
                  <td style="vertical-align: middle;text-align: center;">{{this.results.resultSelected.result.substance[idx].CASRN}}</td>
                  <td style="text-align: center;"><canvas [id]="'taskCanvas'+idx"></canvas></td>
                </tr>
              </tbody>
              <!-- <tbody *ngIf="this.results.resultSelected.substance instanceof Object">
                <td>{{this.results.resultSelected.substance.name}}</td>
                <td>{{this.results.resultSelected.substance.CASRN}}</td>
                <td><canvas [id]="'taskCanvas'+0"></canvas></td>
              </tbody> -->
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- <formly-wrapper-form-field>
    <div>
      <label >
    
    
      </label>
    
      <input type="text">
    
    </div>
    
    <div class="segundo">
    insertar aqui 

    </div>

    </formly-wrapper-form-field>
     -->
