<ul class="nav nav-pills" id="results-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-pendingtask-tab" data-bs-toggle="pill" data-bs-target="#pills-pendingtask"
      type="button" role="tab" aria-controls="pills-pendingtask" aria-selected="True">Pending Tasks</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-pasttasks-tab" data-bs-toggle="pill" data-bs-target="#pills-pasttasks"
      type="button" role="tab" aria-controls="pills-pasttasks" aria-selected="false">Past Tasks</button>
  </li>
</ul>
<div class="tab-content container-fluid" id="pills-tabContent">
  <div class="tab-pane fade show active mt-2" id="pills-pendingtask" role="tabpanel"
    aria-labelledby="pills-pendingtask-tab">
    <div *ngIf="this.pendingTasks.results.length > 0 else noTasks">
      <div class="row">
        <div class="col">
          <select (change)="createform()" id="selectPendingResult" [(ngModel)]="this.pending_task_selected"
            class="form-select" aria-label="Default select example">
            <option *ngFor="let idx of objectKeys(this.pendingTasks.results)"
              [value]='this.pendingTasks.results[idx].id'>{{this.pendingTasks.results[idx].id}}</option>
          </select>
          <div *ngIf="this.pending_task?.result" class="container-information mt-2 ml-2">
            <div class="card-body">
              <div class="row">
                <div class="col-2 text">
                  <strong>Name</strong>
                </div>
                <div class="col-10">
                  {{this.pending_task['task description'].name}}
                </div>
              </div>
              <div class="row">
                <div class="col-2 text">
                  <strong>Description</strong>
                </div>
                <div class="col-10">
                  {{this.pending_task['task description'].description}}
                </div>
              </div>
            </div>
            <form class="container-form mt-3" *ngIf="this.loadForm" [formGroup]="form" (ngSubmit)="onSubmit(model)">
              <formly-form [form]="form" [fields]="fields" [model]="model">
              </formly-form>
              <button type="submit" [disabled]="!this.form.valid" class="btn btn-ets-do submit-button">Submit</button>
            </form>

          </div>


        </div>
      </div>
    </div>
    <ng-template #noTasks>No pending Tasks</ng-template>
  </div>
  <div class="tab-pane fade" id="pills-pasttasks" role="tabpanel" aria-labelledby="pills-pasttasks-tab">
    <div class="row">
      <div class="col">
        <table id="dtTasks" class="display compact">
          <thead>
            <tr>
              <th>ID</th>
              <th>summary</th>
              <th>value</th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="selectTask(result.id)" *ngFor="let result of this.results.results">
              <td>{{result.id}}</td>
              <td>{{result.summary}}</td>
              <td>{{result.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mt-2" *ngIf="this.results.resultSelected.result">
      <hr>
      <div class="card-body">
        <div class="row pt-1 pb-1">
          <div class="col-2 text border-bottom">
            ID
          </div>
          <div class="col  border-bottom">
            {{this.results.resultSelected.result.id}}
          </div>
        </div>
        <div class="row pt-1 pb-1">
          <div class="col-2 text  border-bottom">
            Resul description
          </div>
          <div class="col border-bottom">
            {{this.results.resultSelected.result.result_description}}
          </div>
        </div>
        <div class="row pt-1 pb-1">
          <div class="col-2 text  border-bottom">
            Resul type
          </div>
          <div class="col border-bottom">
            {{this.results.resultSelected.result.result_type}}
          </div>
        </div>
        <div class="row pt-1 pb-1">
          <div class="col-2 text  border-bottom d-flex  align-items-center">
            Result link
          </div>
          <div class="col border-bottom">
            <button (click)="downloadFile()" *ngIf="this.results.resultSelected.result.result_link"
              class="btn btn-outline-success mt-2 mb-2">{{this.results.resultSelected.result.result_link}}</button>
          </div>
        </div>
        <div class="row pt-1 pb-1">
          <div class="col-2 text  border-bottom">
            Summary
          </div>
          <div class="col border-bottom">
            {{this.results.resultSelected.result.summary}}
          </div>
        </div>
        <div class="row pt-1 pb-1">
          <div class="col-2 text  border-bottom">
            Summary type
          </div>
          <div class="col border-bottom">
            {{this.results.resultSelected.result.summary_type}}
          </div>
        </div>
        <div class="row pt-1 pb-1">
          <div class="col-2 text  border-bottom">
            Uncertainty
          </div>
          <div class="col border-bottom">
            {{this.results.resultSelected.result.uncertainty}}
          </div>
        </div>
        <div class="row pt-1 pb-1">
          <div class="col-2 text  border-bottom">
            Unit
          </div>
          <div class="col border-bottom">
            {{this.results.resultSelected.result.unit}}
          </div>
        </div>
        <div class="row pt-1 pb-1">
          <div class="col-2 text border-bottom">
            Value
          </div>
          <div class="col border-bottom">
            {{this.results.resultSelected.result.value}}
          </div>
        </div>
        <div  *ngIf="this.results.resultSelected?.result?.substance?.length > 1" class="row pt-1 pb-1">
          <div class="col-2 text">
          Substance
          </div>
          <div   class="col">
            <table id="dtSubstancesTasks" class="table table-borderless">
              <thead class="text">
                <tr>
                  <th  style="text-align: center;">Name</th>
                  <th  style="text-align: center;">CASRN</th>
                  <th style="text-align: center;">SMILES</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let idx of objectKeys(this.results.resultSelected.result.substance)">
                  <td style="vertical-align: middle;text-align: center;">{{this.results.resultSelected.result.substance[idx].name}}</td>
                  <td style="vertical-align: middle;text-align: center;">{{this.results.resultSelected.result.substance[idx].CASRN}}</td>
                  <td style="text-align: center;"><canvas [id]="'taskCanvas'+idx"></canvas></td>
                </tr>
              </tbody>
              <!-- <tbody *ngIf="this.results.resultSelected.substance instanceof Object">
                <td>{{this.results.resultSelected.substance.name}}</td>
                <td>{{this.results.resultSelected.substance.CASRN}}</td>
                <td><canvas [id]="'taskCanvas'+0"></canvas></td>
              </tbody> -->
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>