@import '../../assets/scss/title.scss';
@import '../../assets/scss/buttons.scss';
@import '../../assets/scss/submenu.scss';


.multiple-value{
    background-color: grayscale($color: #f5f0f0) !important;
}
#dtTasks {
    padding-top:10px;
    thead {
        background-color: #59AD2B;
        color: white;
        tr{
            th:nth-child(1){
                width: 10% !important;
        }
        th:nth-child(2){
            width: 20% !important;
        }
        th:nth-child(4){
            width: 25% !important;
        }
        }
       }
    td{
        vertical-align: top;
        padding: 0px 10px !important;
    }
    }

    #dtSubstancesTasks {
        table-layout: fixed;
        width: 100%;
        thead{
          tr{
            th:nth-child(1){
                width: 30% !important;
        }
        th:nth-child(2){
            width: 20% !important;
        }
        th:nth-child(3){
            width: 50% !important;
        }
        }
      }
      }
hr{
    height: 3px;
    background-color: $tertiary-color;
    border: None;
}

.text {
    color: $secondary-color;
  }
  
.container-form {
    color: $secondary-color;
}

 ::ng-deep formly-horizontal-wrapper div div { 
 
            min-width: 80%;
   
 }