<!-- navbar tasks -->
<app-nav-tasks/>


<div class="tab-content container-fluid" id="pills-tabContent">
  <!-- pending tasks -->
  <div
    class="tab-pane fade show active mt-2"
    id="pills-pendingtask"
    role="tabpanel"
    aria-labelledby="pills-pendingtask-tab"
  >
    @if(pendingTasks.results.length > 0) {
    <div>
      <div class="row">
        <div class="col">
          <select
            (change)="getPendingTask()"
            id="selectPendingResult"
            [(ngModel)]="pending_task_selected"
            class="form-select"
            aria-label="Default select example"
          >
            @for (pendingTask of pendingTasks.results; track pendingTask.id) {
            <option [value]="pendingTask.id">
              {{ pendingTask.label }}
            </option>

            }
          </select>
          @if(pending_task?.result){
          <div class="container-information mt-2 ml-2">
            <div class="card-body">
              <div class="row">
                <div class="col-2 text">
                  <strong>Name</strong>
                </div>
                <div class="col-10">
                  {{ pending_task["task description"].name }}
                </div>
              </div>
              <div class="row">
                <div class="col-2 text">
                  <strong>Description</strong>
                </div>
                @if(pending_task['task description'].description) {
                <div
                  class="col-10"
                  [innerHTML]="
                    pending_task['task description'].description
                      | autolinkPipe
                  "
                ></div>
                }
              </div>
              @if(pending_task['task description'].proposed_approach) {
              <div class="row">
                <div class="col-2 text">
                  <strong>Proposed approach</strong>
                </div>
                <div class="col-10 position-relative">
                  @if( pending_task['task description'].proposed_approach.length
                  > 300 && !collapseProposed) {
                  <div
                    [innerHTML]="
                      pending_task['task description'].proposed_approach
                        | slice : 0 : 301
                    "
                  >
                    @if(!collapseProposed){
                    <span>...</span>
                    }
                  </div>
                  } @if(collapseProposed || pending_task['task description'].proposed_approach .length < 300) {
                  <div
                    [innerHTML]="
                      pending_task['task description'].proposed_approach
                    "
                  ></div>
                  }

                  <a
                    (click)="collapseProposedApproach()"
                    class="position-absolute top-0"
                    style="left: -5px"
                  >
                    @if(collapseProposed) {
                    <i class="fa-solid plus-icon fa-minus"></i>
                    }@else {
                    <i class="fa-solid plus-icon fa-plus"></i>
                    }
                  </a>
                </div>
              </div>
              } @if(pending_task['task description'].guidance) {
              <div class="row mt-1">
                <div class="col-2 text">
                  <strong>Guidance</strong>
                </div>
                <div class="col-10 position-relative">
                  @if(pending_task['task description'].guidance.length > 300 &&
                  !collapseguidance) {
                  <div
                    [innerHTML]="
                      pending_task['task description'].guidance
                        | slice : 0 : 301
                    "
                  >
                    @if(!collapseguidance) {
                    <span>...</span>
                    }
                  </div>
                  } @if(collapseguidance || pending_task['task description'].guidance.length < 300) {
                  <div
                    [innerHTML]="pending_task['task description'].guidance"
                  ></div>
                  }
                  <a
                    (click)="collapseGuidance()"
                    class="position-absolute top-0"
                    style="left: -5px"
                  >
                    @if(collapseguidance) {
                    <i class="fa-solid plus-icon fa-minus"></i>
                    }@else {
                    <i class="fa-solid plus-icon fa-plus"></i>
                    }
                  </a>
                </div>
              </div>
              }
            </div>
            <!-- task form -->
            @if(pending_task) {
            <task-form
              [editMode]="false"
              [task]="pending_task"
            ></task-form>
            }
          </div>
          }
        </div>
      </div>
    </div>
    }@else {
      <div>No pending Tasks </div> 
      }
  </div>
  <!-- end pending tasks -->

  
  <div
    class="tab-pane fade"
    id="pills-pasttasks"
    role="tabpanel"
    aria-labelledby="pills-pasttasks-tab"
  >
    <div class="accordion accordion-flush" id="accordionTasks">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwoTasks">
          <button
            id="tableCollapseTasks"
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOneTasks"
            aria-expanded="false"
            aria-controls="flush-collapseOneTasks"
          >
            Completed Task
          </button>
        </h2>
        <div
          id="flush-collapseOneTasks"
          class="accordion-collapse collapse show"
          aria-labelledby="flush-headingOneTasks"
          data-bs-parent="#accordionTasks"
        >
          <div class="accordion-body">
            <div class="row">
              <div class="col">
                <table id="dtTasks" class="display compact">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Label</th>
                      <th>Name</th>
                      <th>Summary</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (result of results.results;track result.id) {
                    <tr (click)="selectTask(result.id)">
                      <td>{{ result.date | formatDate }}</td>
                      <td id="{{ result.id }}">{{ result.label }}</td>
                      <td>{{ result.name }}</td>
                      <td>{{ result.summary | slice : 0 : 150 }}...</td>
                      @if(isObject(result.values[0])) {
                      <td>
                        {{ result.values[0].parameter }},{{
                          result.values[0].value
                        }},{{ result.values[0].unit }}

                        @if(result.values.length > 0) {
                        <span>...</span>
                        }
                      </td>
                      }@else {
                      <td>{{ result.values[0] | slice : 0 : 20 }}...</td>
                      }
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwoTasks">
          <button
            (click)="showTablePastTasks()"
            id="pastCollapseTasks"
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwoTasks"
            aria-expanded="true"
            aria-controls="flush-collapseTwoTasks"
          >
            {{ results?.resultSelected["task description"]?.label }}
          </button>
        </h2>
        <div
          id="flush-collapseTwoTasks"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwoTasks"
          data-bs-parent="#accordionTasks"
        >
          <div class="accordion-body">
            @if(results.resultSelected && !global.editModeTasks) {
            <div class="mt-2">
              <hr />
              <div class="card-body mb-3">
                <div class="row">
                  <div class="col-2 text">
                    <strong>Date</strong>
                  </div>
                  <div class="col-10">
                    {{ results.resultSelected.result["date"] }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 text">
                    <strong>Name</strong>
                  </div>
                  <div class="col-10">
                    {{ results.resultSelected["task description"].name }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 text">
                    <strong>Description</strong>
                  </div>
                  @if( results.resultSelected['task description'].description) {
                  <div
                    class="col-10"
                    [innerHTML]="
                      results.resultSelected['task description']
                        .description | autolinkPipe
                    "
                  ></div>
                  }
                </div>
                <div class="row">
                  <div class="col-2 text">
                    <strong>Method links</strong>
                  </div>
                  @if(results.resultSelected['task description'].method_link[0] !== 'local_models') {
                  <div class="col-10">
                    <div>
                      @for(link of results.resultSelected['task description'].method_link; track $index) {
                      <span>
                        <a target="_blank" [href]="link">{{ link }}</a>
                        <br />
                      </span>
                      }
                    </div>
                  </div>
                  }
                </div>
              </div>
              <div class="card-body">
                <div class="row pt-1 pb-1">
                  @if( results.resultSelected.result.result_type ===
                  'text') {
                  <div class="col-2 text border-bottom">Report</div>
                  }
                  <div class="col border-bottom">
                    @if(results.resultSelected.result.result_type !='text')
                    {
                    <div class="table-header">Methods</div>
                    <table
                      style="width: 100% !important"
                      class="table table-bordered"
                    >
                      <thead class="text">
                        <tr>
                          <th style="width: 10%">Name</th>
                          <th style="width: 30%">Description</th>
                          <th style="width: 10%">Sensitivity</th>
                          <th style="width: 10%">Specificity</th>
                          <th style="width: 10%">SD</th>
                          <th style="width: 10%">Link</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (method of
                        results.resultSelected.result.methods;track $index)
                        {
                        <tr>
                          <td>{{ method.name }}</td>
                          <td>{{ method.description }}</td>
                          <td>{{ method.sensitivity }}</td>
                          <td>{{ method.specificity }}</td>
                          <td>{{ method.sd }}</td>
                          <td>{{ method.link }}</td>
                        </tr>
                        }
                      </tbody>
                    </table>
                    } @if( isObject(results.resultSelected.result.values[0])) {
                    <div class="table-header">Values</div>
                    <table
                      class="table table-bordered"
                      style="width: 100% !important"
                    >
                      <thead class="text">
                        <tr>
                          <th style="width: 15%">Substance</th>
                          <th>Method</th>
                          <th>Parameter</th>
                          <th>Value</th>
                          <th>Unit</th>
                          <th>Uncertainty</th>
                          <th>Term</th>
                        </tr>
                      </thead>
                      @for(value of
                      results.resultSelected.result.values;track value;let
                      idx = $index) {
                      <tbody>
                        <tr>
                          <td>
                            {{ value.substance }}
                          </td>
                          <td>
                            {{ value.method }}
                          </td>
                          <td>
                            {{ value.parameter }}
                          </td>
                          <td>
                            {{ value.value | truncateDecimals }}
                          </td>
                          <td>
                            {{ value.unit }}
                          </td>
                          <td>
                            {{
                              results.resultSelected.result?.uncertainties[
                                idx
                              ]?.uncertainty
                            }}
                          </td>
                          <td>
                            {{
                              results.resultSelected.result?.uncertainties[
                                idx
                              ]?.term
                            }}
                          </td>
                        </tr>
                      </tbody>
                      }
                    </table>

                    } @if (results.resultSelected.result.result_type === 'text')
                    {
                    <div class="col formatted-text">
                      {{ results.resultSelected.result.values[0] }}
                    </div>
                    }
                  </div>
                </div>
                @if(results.resultSelected.result.result_type === 'text') {
                <div class="row pt-1 pb-1">
                  @if(results.resultSelected.result.result_type != 'text') {
                  <div class="col-2 text border-bottom"></div>
                  } @if(results.resultSelected.result.result_type != 'text') {
                  <div class="col border-bottom">
                    <table class="table table-borderless">
                      <thead class="text">
                        <th>Uncertainty</th>
                        <th>Term</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            {{
                              results.resultSelected.result?.uncertainties[0]
                                ?.uncertainty
                            }}
                          </td>
                          <td>
                            {{
                              results.resultSelected.result?.uncertainties[0]?.p
                            }}
                          </td>
                          <td>
                            {{
                              results.resultSelected.result?.uncertainties[0]
                                ?.term
                            }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  }
                </div>
                } @if(results.resultSelected.result.uncertainty){
                <div class="row pt-1 pb-1">
                  <div class="col-2 text border-bottom">Uncertainty</div>
                  <div class="col border-bottom">
                    {{ results.resultSelected.result.uncertainty }}
                  </div>
                </div>
                } @if(results.resultSelected.result.links) {
                <div class="row pt-1 pb-1">
                  <div
                    class="col-2 text border-bottom d-flex align-items-center"
                  >
                    Documentation
                  </div>
                  <div class="col border-bottom">
                    @for (link of results.resultSelected.result.links;track
                    link) {
                    <div class="d-inline mx-1">
                      <button
                        (click)="downloadFile(link.File)"
                        class="btn btn-outline-success mt-2 mb-2"
                      >
                        {{ link.label }}
                      </button>
                    </div>
                    }
                  </div>
                </div>
                }
                
                <!-- cards image -->
                <div class="d-flex p-1 justify-content-around">
                  @for (image of listImages;track $index) {
                    <app-card-image [image]="image" />             
                  }
                </div>
                
                <div class="row pt-1 pb-1">
                  <div class="col-2 text border-bottom">Summary</div>
                  <div class="col border-bottom formatted-text">
                    {{ results.resultSelected.result.summary }}
                  </div>
                </div>
                @if(results.resultSelected?.result?.substance?.length > 1) {
                <div class="row pt-1 pb-1">
                  <div class="col-2 text">Substance</div>
                  <div class="col">
                    <table
                      id="dtSubstancesTasks"
                      class="table table-borderless"
                    >
                      <thead class="text">
                        <tr>
                          <th style="text-align: center">Name</th>
                          <th style="text-align: center">CASRN</th>
                          <th style="text-align: center">SMILES</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (idx of objectKeys(results.decisionSelected.substance); track idx) {
                        <tr>
                          <td
                            style="vertical-align: middle; text-align: center"
                          >
                            {{
                            results.decisionSelected.substance[idx].name
                            }}
                          </td>
                          <td
                            style="vertical-align: middle; text-align: center"
                          >
                            {{
                             results.decisionSelected.substance[idx].CASRN
                            }}
                          </td>
                          <td style="text-align: center">
                            <canvas [id]="'taskCanvas' + idx"></canvas>
                          </td>
                        </tr>
                        }
                      
                      </tbody>
                    </table>
                  </div>
                </div>
                }
              
                <div class="row">
                  <button
                    [disabled]="!user.write"
                    (click)="editTask()"
                    class="btn btn-ets-edit"
                  >
                    Edit
                  </button>
                </div>
              </div>
            </div>
            }
            @if(global.editModeTasks && user.write){
              <task-form
              [editMode]="true"
              [task]="results.resultSelected"
            ></task-form>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
