<div *ngIf="this.pending_task">
  <form
    id="taskForm"
    #taskForm="ngForm"
    (ngSubmit)="onSubmit($event)"
    class="container-form mt-3"
  >
    <div class="d-flex justify-content-end">

      <a  class="btn btn-ets-do mb-2"
      *ngIf="this.pending_task.result.result_type === 'value'"
      role="button"
      (click)="openModalMethod()"
      data-bs-toggle="modal"
      data-bs-target="#methodModal"
      >
      Add method
    </a>
      <a  class="btn btn-ets-do mb-2"
      *ngIf="this.pending_task.result.result_type === 'value'"
      role="button"
      (click)="addParameterMode()"
      data-bs-toggle="modal"
      data-bs-target="#extraInformation"
      [class.blink]="isBlinking"
      >
      Add value
    </a>
      <a
      *ngIf="this.pending_task.result.result_type === 'value'"
      data-bs-toggle="modal"
      data-bs-target="#importTableModal"
      role="button"
      class="btn btn-ets-do mb-2"
      >Import Table</a>
      <a
        *ngIf="
          this.pending_task['task description'].method_link[0] === 'local_models'
        "
        (click)="openModal()"
        data-bs-toggle="modal"
        data-bs-target="#predModal"
        role="button"
        class="btn btn-ets-do mb-2"
        >Predict</a
      >
    </div>
    <div *ngIf="this.model.methods.length > 0" class="info-values">
      <table style="width: 100%;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>sensitivity</th>
            <th>specificity</th>
            <th>sd</th>
            <th>Link</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let method of this.model.methods;let i = index">
            <td>{{method.name}}</td>
            <td>{{method.description}}</td>
            <td>{{method.sensitivity}}</td>
            <td>{{method.specificity}}</td>
            <td>{{method.sd}}</td>
            <td>{{method.link}}</td>
            <td>
              <div class="d-flex">
                <a (click)="deleteMethod(i)" class="btn btn-ets-delete" role="button"
                >
                Delete
              </a>
                <button  disabled class="btn btn-ets-do pr-4"
                >
                Edit
            </button>
              </div>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="this.pending_task?.result.result_type === 'value' && this.model.values.length > 0" class="mb-2">
      <div class="info-values">
        <table  style="width: 100%;"  >
          <thead>
            <tr>
              <th style="width: 10%;">Substance</th>
              <th style="width: 10%;">Method</th>
              <th style="width: 10%;">Parameter</th>
              <th style="width: 10%;">Value</th>
              <th class="text-center" style="width: 5%;">Unit</th>
              <th class="text-center" style="width: 25%;">Uncertainty</th>
              <th style="width: 10%;">Term</th>
              <th></th> 
            </tr>
          </thead>
          <tbody>
            <tr
            *ngFor="let value of this.model.values; let i = index"
          >
          <td>{{this.ra.general_information.general.substances[0].name}}</td>
            <td >{{ value?.method}}</td>
            <td >{{ value?.parameter}}</td>
            <td>{{ value?.value.toString()}}</td>
            <!-- <td>{{ value?.value.toString() | slice : 0 : 6 }}</td> -->
            <td class="text-center">{{ value?.unit }}</td>
            <td class="text-center">{{ this.model?.uncertainties[i]?.uncertainty }}</td>
            <td>{{ this.model?.uncertainties[i]?.term }}</td>
            <td>
              <div class="d-flex">
                <a (click)="deleteParameter(i)" class="btn btn-ets-delete" role="button"
                >
                Delete
              </a>
                <a (click)="editFormParam(i)" class="btn btn-ets-do pr-4" role="button"
                data-bs-toggle="modal"
                data-bs-target="#extraInformation"
                >
                Edit
                </a>
              </div>
          </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      *ngIf="this.pending_task.result.result_type === 'text'"
      class="row mb-3"
    >
      <label for="inputPassword3" class="col-2 col-form-label">Results*:</label>
      <div class="col-10">
        <textarea
          rows="4"
          required
          [placeholder]="this.pending_task['task description']['report']"
          [(ngModel)]="this.report"
          type="text"
          class="form-control"
          name="report"
          id="report"
        >
        </textarea>
      </div>
    </div>

    <div>
      <div class="row mt-2 mb-3">
        <label for="inputPassword3" class="col-2 col-form-label"
          >Documentation:</label
        >
        <div class="col-10">
          <div class="row">
            <div class="col-5">
              <input
                #DocumentFileInput
                (change)="sendlink($event)"
                placeholder=""
                type="file"
                class="form-control"
              />
            </div>
            <div class="col-auto d-flex flex-column ">
              <div class="d-flex flex-row justify-content-around">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="inlineRadioOptions"
                  [(ngModel)]="includeDoc"
                  id="inlineRadio1"
                  [value]="true"
                />
              </div>
              <span class="text-muted sm-text">Include</span>
            </div>
            <div class="col-5">
              <input
                type="text"
                [(ngModel)]="this.labelFile"
                name="labelFile"
                placeholder="label"
                class="form-control"
              />
            </div>
            <div style="margin-left: auto !important;" class="col-1 text-end">
              <a
              style="background: rgb(250,250,250)"
                (click)="addDocument()"
                class="addbtn btn ms-auto"
                role="button"
                ><i class="fa-solid fa-arrow-turn-down fa-rotate-90 fa-lg"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let idx of objectKeys(this.documents)" class="row mt-2 mb-3">
        <label for="inputPassword3" class="col-2 col-form-label"></label>
        <div class="col-10">
          <div class="row">
            <div class="col-3">
              <input
                type="text"
                [value]="this.documents[idx].label"
                readonly
                class="form-control-plaintext text-center"
              />
            </div>
            <div class="col-1">
            <div style="text-align: center !important;margin-top:7px;">
              <i *ngIf="this.documents[idx].include" style="text-align: center;" class="fa-solid fa-check-to-slot fa-lg"></i>
            </div>
            </div>
            <div class="col-1">
              <a
                (click)="deleteFile(this.documents[idx].label)"
                class="btn ms-auto"
                role="button"
                ><i
                  class="fa-solid fa-circle-minus fa-lg"
                  style="color: #e01b24"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-2 col-form-label">Summary:</label>
      <div class="col-10">
        <textarea
          [placeholder]="this.pending_task['task description']['summary']"
          [(ngModel)]="this.model.summary"
          class="form-control"
          name="summary"
          id="summary"
          rows="4"
        ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <button
          (click)="back()"
          *ngIf="this.editMode"
          type="submit"
          class="btn btn-ets-delete"
        >
          Back
        </button>
      </div>
      <div class="col d-flex justify-content-end">
        <button
          [disabled]="taskForm.invalid"
          type="submit"
          class="btn btn-ets-do submit-button"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
  <!-- Modal Select Models -->
  <div
    class="modal fade"
    id="predModal"
    tabindex="-1"
    aria-labelledby="predModal"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="predModalLabel">
            Select Models
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body row">
          <div *ngIf="!this.listAllModels" class="alert p-2 alert-warning" role="alert">
            No models available
          </div>
          <div class="col-4">
            <table *ngIf="this.listAllModels"
              style="width: 100% !important"
              id="modelsTable"
              class="table display compact"
            >
              <thead>
                <tr>
                  <th style="width: 10% !important"></th>
                  <th style="width: 10% !important">Version</th>
                  <th style="width: 70% !important">Name</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  [ngClass]="{ 'selected-row': model === selectedModel }"
                  *ngFor="let model of this.listAllModels | filterVersion: 0"
                  (click)="getModelDocumentation(model)"
                >
                  <td>
                    <input
                      class="form-check-input text-center"
                      type="checkbox"
                      (change)="onChange(model, $event)"
                      id="flexCheckDefault"
                    />
                  </td>
                  <td>{{ model[1] }}</td>
                  <td>{{ model[0] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="ModelDocumentation" class="col-8">
            <model-documentation
              [documentation]="ModelDocumentation"
            ></model-documentation>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="btnclosePredModal"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button
            class="btn btn-ets-do"
            [disabled]="this.listModelsSelected.length == 0"
            (click)="executePredict()"
          >
            Predict
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Import List -->
  <div
  class="modal fade"
  id="importTableModal"
  tabindex="-1"
  aria-labelledby="importTableModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="importTableModalLabel">
          Import Table
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input
        (change)="importTable($event)"
        placeholder=""
        type="file"
        class="form-control"
      />
       <span class="info-import-table">Use an excel format file with the same columns that are shown in the form</span> 
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="btncloseImportTableModal"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal add parameter -->
<div
class="modal fade"
id="extraInformation"
tabindex="-1"
aria-labelledby="extraInformation"
aria-hidden="true"
>
<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title fw-bold" id="extraInformationLabel">
        Add new Value
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col  pb-3">
          <h6>Select method</h6>
          <select
          class="form-select"
          id="method"
          [(ngModel)]="method"
        >
          <option *ngFor="let method of this.model.methods"  [ngValue]="method" >{{ method.name }}</option>
        </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <label for="Parameter" class="form-label">Parameter*</label>
              <input
                name="parameter"
                placeholder=""
                [(ngModel)]="this.parameter"
                type="text"
                class="form-control"
                id="parameter"
              />
            </div>
            <div class="col-3">
              <label for="value" class="form-label">Value*</label>
              <input
                [placeholder]=""
                [(ngModel)]="this.value"
                type="text"
                class="form-control"
                name="value"
                id="value"
              />
            </div>
            <div class="col-1">
              <label for="unit" class="form-label">Unit</label>
              <div class="row">
                <div class="col">
                  <input
                    placeholder=""
                    [(ngModel)]="this.unit"
                    type="text"
                    class="form-control"
                    name="unit"
                    id="unit"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-5">
          <label for="Parameter" class="form-label">Uncertainty</label>
          <input
            name="uncertainty"
            [placeholder]="this.pending_task['task description'].uncertainty"
            [(ngModel)]="this.uncertainty"
            type="text"
            class="form-control"
            id="uncertainty"
          />
        </div>
        <div class="col-auto">
          <label for="unit" class="form-label">Term</label>
          <div class="row">
            <div class="col-auto">
              <input type="text" [(ngModel)]="uncertainty_term" class="form-control" id="uncertainty_term">
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!parameterInserted" class="text-danger mt-2">
        There are missing required fields to fill out
      </div>
    </div>
     <div class="modal-footer">
      <a
        (click)="addNewParameter()"
        class="btn btn-ets-do"
        role="button"
        >
        {{ editParameterMode ? 'Update' : 'Add' }}
      </a>
       <button
        type="button"
        id="btncloseImportTableModal"
        class="btn btn-ets-bad"
        data-bs-dismiss="modal"
      >
      Close
      </button> 
    </div> 
  </div>
</div>
</div>

<!-- add method modal -->
<div
class="modal fade"
id="methodModal"
tabindex="-1"
aria-labelledby="methodModal"
aria-hidden="true"
>
<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title fw-bold" id="methodModaLabel">
        Add new Method
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <form #methodForm="ngForm">
    <div class="modal-body">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <label for="name" class="form-label">Name*</label>
              <input
                name="name"
                placeholder=""
                [(ngModel)]="this.method.name"
                type="text"
                class="form-control"
                id="name"
                required
              />
            </div>
            <div class="col">
              <label for="description" class="form-label">Description</label>
              <input
                [placeholder]=""
                [(ngModel)]="this.method.description"
                type="text"
                class="form-control"
                name="description"
                id="description"
              />
            </div>
            <div class="col">
              <label for="link" class="form-label">Link</label>
                  <input
                    placeholder=""
                    [(ngModel)]="this.method.link"
                    type="text"
                    class="form-control"
                    name="link"
                    id="link"
                  />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="sensitivity" class="form-label">Sensitivity</label>
              <input 
              type="number"
              min="0"
              max="1"
              step="0.01"
              name="sensitivity"
              id="sensitivity"
              [(ngModel)]="method.sensitivity"
              class="form-control"
              #sensitivityInputRef="ngModel"
              />
            </div>
            <div class="col">
              <label for="sensitivity" class="form-label">Specificity</label>
              
              <input #specificityInputRef="ngModel"  type="number" min="0" max="1" step="0.01"  class="form-control" id="specificity" name="specificity" [(ngModel)]="this.method.specificity">
            </div>
            <div class="col">
              <label for="sd" class="form-label">SD</label>
              <input type="string" class="form-control" id="sd" name="sd" [(ngModel)]="this.method.sd">
            </div>
          </div>
          <div   *ngIf="sensitivityInputRef.invalid || specificityInputRef.invalid " style="font-weight: bold !important;" class="text-warning  mt-2">
            Sensitivity and Specificity must be between 0 and 1.
          </div>
        </div>
      </div>
    </div>
     <div class="modal-footer">
      <button
        [disabled]="methodForm.invalid"
        (click)="addMethod()"
        class="btn btn-ets-do"
        role="button"
        >
        Add
     </button>
       <button
        type="button"
        id="btncloseImportTableModal"
        class="btn btn-ets-bad"
        data-bs-dismiss="modal"
      >
      Close
      </button> 
    </div>
  </form> 
  </div>
</div>
</div>

</div>
