<div *ngIf="this.pending_task">
  <form
    id="taskForm"
    #taskForm="ngForm"
    (ngSubmit)="onSubmit()"
    class="container-form mt-3"
  >
    <div class="d-flex justify-content-end">
      <a
        *ngIf="
          this.pending_task['task description'].method_link === 'local_models'
        "
        (click)="openModal()"
        data-bs-toggle="modal"
        data-bs-target="#predModal"
        role="button"
        class="btn btn-ets-do mb-2"
        >Select Models</a
      >
    </div>
    <div *ngIf="this.pending_task?.result.result_type === 'value'" class="mb-2">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <label for="Parameter" class="form-label">Parameter</label>
              <input
                name="parameter"
                placeholder=""
                [(ngModel)]="this.parameter"
                type="text"
                class="form-control"
                id="parameter"
              />
            </div>
            <div class="col-3">
              <label for="value" class="form-label">Value</label>
              <input
                required
                [placeholder]=""
                [(ngModel)]="this.model.value"
                type="text"
                class="form-control"
                name="value"
                id="value"
              />
            </div>
            <div class="col">
              <label for="unit" class="form-label">Unit</label>
              <div class="row">
                <div class="col">
                  <input
                    placeholder=""
                    [(ngModel)]="this.model.unit"
                    type="text"
                    class="form-control"
                    name="unit"
                    id="unit"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <label for="Parameter" class="form-label">Uncertainty</label>
          <input
            name="uncertainty"
            [placeholder]="this.pending_task['task description'].uncertainty"
            [(ngModel)]="this.uncertainty"
            type="text"
            class="form-control"
            id="uncertainty"
          />
        </div>
        <div class="col-1">
          <label for="value" class="form-label">Probability</label>
          <input
            (blur)="syncWithTerm()"
            [placeholder]=""
            (keydown)="onlyNumbers($event)"
            [ngClass]="{
              'is-invalid':
                invalidProbability() &&
                (valueInputRef.dirty || valueInputRef.touched)
            }"
            #valueInputRef="ngModel"
            type="text"
            name="uncertainty_p"
            id="uncertainty_p"
            [(ngModel)]="this.uncertainty_p"
            class="form-control"
          />
        </div>
        <div class="col-auto">
          <label for="unit" class="form-label">Term</label>
          <div class="row">
            <div class="col-auto">
              <select
                (change)="selectedUncertaintyTerm($event.target)"
                id="uncertainty_term"
                class="form-control"
              >
                <option value="N/A">N/A</option>
                <option
                  *ngFor="
                    let value of this.pending_task['task description']
                      .uncertainty_term
                  "
                  [value]="value"
                >
                  {{ value }}
                </option>
              </select>
            </div>
            <div class="col">
              <a
                (click)="addNewParameter()"
                class="addbtn btn ms-auto"
                role="button"
                ><i class="fa-solid fa-circle-plus fa-lg"></i
              ></a>
            </div>
          </div>
        </div>
        <div
          *ngFor="let value of this.model.values; let i = index"
          class="row mb-3"
        >
          <div class="col">
            <input
              readonly
              [value]="value?.parameter"
              type="text"
              class="form-control-plaintext text-center"
              id="parameter"
            />
          </div>
          <div class="col-1">
            <input
              readonly
              [value]="value?.value.toString() | slice : 0 : 4"
              type="text"
              class="form-control-plaintext text-center"
              name="value"
              id="value"
            />
          </div>
          <div class="col">
            <input
              placeholder=""
              readonly
              [value]="value?.unit"
              type="text"
              class="form-control-plaintext text-center"
              name="unit"
              id="unit"
            />
          </div>

          <div class="col-3">
            <input
              readonly
              [value]="this.model?.uncertainties[i]?.uncertainty"
              type="text"
              class="form-control-plaintext text-center"
              id="uncertainty"
            />
          </div>
          <div class="col-2">
            <input
              readonly
              [value]="this.model?.uncertainties[i]?.p"
              type="text"
              class="form-control-plaintext text-center"
              name="uncertainty_p"
              id="uncertainty_p"
            />
          </div>
          <div class="col-auto">
            <input
              placeholder=""
              readonly
              [value]="this.model?.uncertainties[i]?.term"
              type="text"
              class="form-control-plaintext"
              name="uncertainty_term"
              id="uncertainty_term"
            />
          </div>
          <div class="col-auto d-flex justify-content-end">
            <a (click)="deleteParameter(i)" class="btn ms-auto" role="button"
              ><i
                class="fa-solid fa-circle-minus fa-lg"
                style="color: #e01b24"
              ></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="this.pending_task.result.result_type === 'text'"
      class="row mb-3"
    >
      <label for="inputPassword3" class="col-2 col-form-label">Report:</label>
      <div class="col-10">
        <textarea
          rows="4"
          required
          [placeholder]="this.pending_task['task description']['report']"
          [(ngModel)]="this.report"
          type="text"
          class="form-control"
          name="report"
          id="report"
        >
        </textarea>
      </div>
    </div>

    <div>
      <div class="row mt-2 mb-3">
        <label for="inputPassword3" class="col-2 col-form-label"
          >Documentation:</label
        >
        <div class="col-10">
          <div class="row">
            <div class="col-3">
              <input
                type="text"
                [(ngModel)]="this.labelFile"
                name="labelFile"
                placeholder="label"
                class="form-control"
              />
            </div>
            <div class="col-auto d-flex flex-column ">
              <div class="d-flex flex-row justify-content-around">
                <input
                  class="form-check-input"
                  [disabled]="this.editMode"
                  type="checkbox"
                  name="inlineRadioOptions"
                  [(ngModel)]="includeDoc"
                  id="inlineRadio1"
                  [value]="true"
                />
              </div>
              <span class="text-muted sm-text">Include</span>
            </div>
            <div class="col">
              <input
                #DocumentFileInput
                [disabled]="!this.labelFile"
                (change)="sendlink($event)"
                placeholder=""
                type="file"
                class="form-control"
              />
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let idx of objectKeys(this.documents)" class="row mt-2 mb-3">
        <label for="inputPassword3" class="col-2 col-form-label"></label>
        <div class="col-10">
          <div class="row">
            <div class="col-3">
              <input
                type="text"
                [value]="this.documents[idx].label"
                readonly
                class="form-control-plaintext text-center"
              />
            </div>
            <div class="col-1">
            <div style="text-align: center !important;">
              <i *ngIf="this.documents[idx].include" style="text-align: center;margin-right: 18px;" class="fa-solid fa-check-to-slot fa-lg"></i>
            </div>
            </div>
            <div class="col">
              <input
                [value]="this.documents[idx].File"
                type="text"
                readonly
                class="form-control-plaintext text-center"
              />
            </div>
            <div class="col-1">
              <a
                (click)="deleteFile(this.documents[idx].label)"
                class="btn ms-auto"
                role="button"
                ><i
                  class="fa-solid fa-circle-minus fa-lg"
                  style="color: #e01b24"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-2 col-form-label">Summary:</label>
      <div class="col-10">
        <textarea
          [placeholder]="this.pending_task['task description']['summary']"
          [(ngModel)]="this.model.summary"
          class="form-control"
          name="summary"
          id="summary"
          rows="4"
        ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <button
          (click)="back()"
          *ngIf="this.editMode"
          type="submit"
          class="btn btn-ets-delete"
        >
          Back
        </button>
      </div>
      <div class="col d-flex justify-content-end">
        <button
          [disabled]="taskForm.invalid && this.model?.values?.length < 1"
          type="submit"
          class="btn btn-ets-do submit-button"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
  <!-- Modal -->
  <div
    class="modal fade"
    id="predModal"
    tabindex="-1"
    aria-labelledby="predModal"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="predModalLabel">
            Select Models to Prediction
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body row">
          <div class="col-4">
            <table
              style="width: 100% !important"
              id="modelsTable"
              class="table display compact"
            >
              <thead>
                <tr>
                  <th style="width: 10% !important"></th>
                  <th style="width: 10% !important">Version</th>
                  <th style="width: 70% !important">Name</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  [ngClass]="{ 'selected-row': model === selectedModel }"
                  *ngFor="let model of this.listAllModels"
                  (click)="getModelDocumentation(model)"
                >
                  <td>
                    <input
                      class="form-check-input text-center"
                      type="checkbox"
                      (change)="onChange(model, $event)"
                      id="flexCheckDefault"
                    />
                  </td>
                  <td>{{ model[1] }}</td>
                  <td>{{ model[0] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="ModelDocumentation" class="col-8">
            <model-documentation
              [documentation]="ModelDocumentation"
            ></model-documentation>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="btnclosePredModal"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button
            class="btn btn-ets-do"
            [disabled]="this.listModelsSelected.length == 0"
            (click)="executePredict()"
          >
            Predict
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
