<div *ngIf="this.pending_task"> 
    <form id="taskForm"  #taskForm="ngForm" (ngSubmit)="onSubmit()" class="container-form mt-3">
        <div  *ngIf="this.pending_task?.result.result_type === 'value'" class="mb-2">
          <div class="row mb-3">
            <label for="Parameter" class="col-2 col-form-label">Parameter</label>
            <div class="col">
              <input  name="parameter" placeholder="" [(ngModel)]="this.parameter" type="text" class="form-control" id="parameter">
            </div>
            <label for="value" class="col-1 col-form-label">Value</label>
            <div class="col">
              <input  required [placeholder]="" [(ngModel)]="this.model.value"   type="text" class="form-control" name="value" id="value">
            </div>
            <label for="unit" class="col-1 col-form-label">Unit</label>
            <div class="col">
              <input  placeholder=""   [(ngModel)]="this.model.unit" type="text" class="form-control" name="unit" id="unit">
            </div>
            <div class="col-1">
              <a (click)="addNewParameter()" class="addbtn btn ms-auto"  role="button"><i class="fa-solid fa-circle-plus fa-lg"></i></a>
            </div>
          </div>
    
          <div  *ngFor="let idx of objectKeys(this.model.values)" class="row mb-3">
            <label for="Parameter" class="col-2 col-form-label"></label>
            <div class="col">
              <input  readonly [value]="this.model.values[idx].parameter" type="text" class="form-control-plaintext text-center" id="parameter">
            </div>
            <label for="value" class="col-1 col-form-label">Value</label>
            <div class="col">
              <input  readonly  [value]="this.model.values[idx].value.toString() | slice:0:4"   type="text" class="form-control-plaintext text-center" name="value" id="value">
            </div>
            <label for="unit" class="col-1 col-form-label">Unit</label>
            <div class="col">
              <input  placeholder="" readonly  [value]="this.model.values[idx].unit" type="text" class="form-control-plaintext text-center" name="unit" id="unit">
            </div>
            <div class="col-1">
              <a (click)="deleteParameter(this.model.values[idx].parameter)" class="btn ms-auto" role="button"><i class="fa-solid fa-circle-minus fa-lg" style="color: #e01b24;"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-end"> 
              <a *ngIf="this.pending_task['task description'].method_link === 'local_models'"  (click)="openModal()" data-bs-toggle="modal" data-bs-target="#predModal" role="button"  class="btn btn-ets-do">Select Models</a>
            </div>
          </div>
        </div>
        <div *ngIf="this.pending_task.result.result_type === 'text'" class="row mb-3">
          <label  for="inputPassword3" class="col-2 col-form-label">Report:</label>
          <div class="col-10">
            <textarea rows="4" required [placeholder]="this.pending_task['task description']['report']" [(ngModel)]="this.report"  type="text" class="form-control" name="report" id="report"> </textarea>
          </div>
        </div>
        <div *ngIf="this.pending_task.result.result_type === 'value'" class="row mb-3">
          <label for="inputPassword3" class="col-2 col-form-label">Uncertainty:</label>
          <div class="col-10">
            <input  [placeholder]="this.pending_task['task description']['uncertainty']"  [(ngModel)]="this.model.uncertainty" type="text" class="form-control" id="uncertainty" name="uncertainty">
          </div>
        </div>
        <div>
        <div class="row mt-2 mb-3">
           <label for="inputPassword3" class="col-2 col-form-label">Documentation:</label>
          <div class="col-10">
            <div class="row">
              <div class="col-3"><input type="text" [(ngModel)]="this.labelFile" name="labelFile" placeholder="label" class="form-control"></div>
              <div class="col"><input #DocumentFileInput  (change)="sendlink($event)"  placeholder=""  type="file" class="form-control"></div>
            </div>
          </div>
        </div>
        <div  *ngFor="let idx of objectKeys(this.documents)" class="row mt-2 mb-3">
          <label for="inputPassword3" class="col-2 col-form-label"></label>
         <div class="col-10">
           <div class="row">
             <div class="col-3"><input type="text" [value]="this.documents[idx].label" readonly class="form-control-plaintext text-center"></div>
             <div class="col"><input [value]="this.documents[idx].File" type="text" readonly class="form-control-plaintext text-center"></div>
             <div class="col-1"><a (click)="deleteFile(this.documents[idx].label)" class="btn ms-auto" role="button"><i class="fa-solid fa-circle-minus fa-lg" style="color: #e01b24;"></i></a></div>
           </div>
         </div>
       </div>
      </div>
        <div class="row mb-3">
          <label for="inputPassword3" class="col-2 col-form-label">Summary:</label>
         <div class="col-10">
          <textarea  [placeholder]="this.pending_task['task description']['summary']" [(ngModel)]="this.model.summary"  class="form-control" name="summary" id="summary" rows="4"></textarea>
         </div>
       </div>
       <div class="row">
        <div class="col-10">
          <button  (click)="back()" *ngIf="this.editMode" type="submit" class="btn btn-ets-delete"  >Back</button>
        </div>
        <div class="col">
        <button [disabled]="taskForm.invalid && this.model?.values?.length < 1"  type="submit" class="btn btn-ets-do submit-button">Submit</button>
        </div>
      </div>
      </form>
       <!-- Modal -->
<div class="modal fade" id="predModal" tabindex="-1" aria-labelledby="predModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="predModalLabel">Select Models to Prediction</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table  id="modelsTable" class="table display compact">
            <thead>
              <tr>
                <th class="col-1">
                </th>
                <th class="text-center col-1">Version</th>
                <th class="text-center col">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let model of this.listAllModels ">
                <td>
                <input class="form-check-input" type="checkbox" (change)="onChange(model,$event)" id="flexCheckDefault" />
                </td>
                <td class="text-center">{{model[1]}}</td>
                <td class="text-center">{{model[0]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button  class="btn btn-ets-do" (click)="executePredict()">Predict</button>
        </div>
      </div>
    </div>
  </div>
</div> 



  

 