@import '../../../assets/scss/title.scss';
@import '../../../assets/scss/buttons.scss';
@import '../../../assets/scss/submenu.scss';

#taskForm {
    color: $secondary-color;
}
.addbtn {
    color: $tertiary-color;
}


#predModal {
    color: $primary-color;
    table {
        th {
            color: $secondary-color;
        }
    }

}

.selected-row {
    background-color: $primary-color;
    color: white;
  }