@import "../../../assets/scss/title.scss";
@import "../../../assets/scss/buttons.scss";
@import "../../../assets/scss/submenu.scss";


@keyframes blink {
  0% { background-color: #f1f4fc; }
  50% { background-color: rgb(236,130,41); color: white; }
  100% { background-color: #f1f4fc; }
}

.blink {
  animation: blink 2s 3;
}
#taskForm,#extraInformation,#methodModal {
  color: $secondary-color;
}
.addbtn {
  color: $tertiary-color;
}
.info-import-table{
  margin-left: 5px;
  color: $secondary-color;
  font-weight: bold;
}

#predModal {
  color: $primary-color;
  table {
    th {
      color: $secondary-color;
    }
  }
}

.selected-row {
  background-color: $primary-color;
  color: white;
}

.sm-text{
  font-size: 13.5px !important;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
  pointer-events: none; 
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  pointer-events: auto;
}

.table-header{
  background-color: $secondary-color;
  color: white;
  padding-left: 5px;
  font-weight: bolder;

}
th {
  color: $secondary-color;
}