@import "./colors.scss";

.nav {
  background: linear-gradient(to right, $primary-color, #de6168);
  &-link {
    color: whitesmoke;
    font-size: 1rem;
    &:hover {
      font-weight: bold;
    }
    &.active {
      background: none;
      color: white;
      font-weight: bold;
      font-size: 1rem;
      border-radius: 0;
    }
  }
}
