@import "../../assets/scss/colors.scss";

.item {
  color: whitesmoke;
  padding-left: 5px !important;
  &:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 4px;
  }
}
.diagram-icon {
    margin-left: 10px !important;
    color: $tertiary-color;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-items {
  padding-left: 1.7rem;
  font-size: 15px;
  .active {
    font-weight: 600;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 4px;
  }

  li {
    cursor: pointer;
    i {
      color: $primary-color;
    }
  }
}

.sidebar-sm {
  --bs-offcanvas-width: 180px;
   background: linear-gradient(to bottom, $primary-color 60%, #de6168);
}
.btn-toggle {
  gap: 5px;
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-weight: 400;
  color: whitesmoke;
  background-color: transparent;
  border: 0;
  &:hover {
    color: $primary-color;
    background-color: whitesmoke;
  }
}
.btn-close-sidebar {
  cursor: pointer;
  opacity: 80%;
  &:hover {
    opacity: 100%;
  }
}
.btn-toggle[aria-expanded="false"] {
  .folder-open {
    display: none;
  }
  .folder-normal {
    display: block;
  }
}

.btn-toggle[aria-expanded="true"] {
  font-weight: 600;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  .folder-open {
    display: block;
  }
  .folder-normal {
    display: none;
  }
}

.header-canvas {
  color: white !important;
  padding: 10px 10px 10px 1rem;
  display: flex;
  align-items: end;
  justify-content: end;
}
