@import '../../assets/scss/colors.scss';
@import '../../assets/scss/buttons.scss';



/* Add some margins for each label */
.form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  /* Style the input fields */
.form-inline inpselectut {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

select {
  border: 0.5px solid whitesmoke;
  background-color: white !important;
  color: $secondary-color;
}

.btn-nam-bad {
  background-color: #646363;
  color: #ffffff;
  border-width: 0;
  // font-family: 'Barlow Semi Condensed', 'Arial', 'Helvetica';
  letter-spacing: 0.05em;
  border-radius: 0;
}

.btn-nam-bad:hover,
.btn-nam-bad:focus,
.btn-nam-bad.active {
  background-color:#9e9d9d ;
  color: #ffffff;
}

.btn-nam-good {
  background: #28328A;
  color: #ffffff;
  border-width: 0;
  // font-family: 'Barlow Semi Condensed', 'Arial', 'Helvetica';
  letter-spacing: 0.05em;
  border-radius: 0;
}
.btn-nam-good:hover,
.btn-nam-good:focus,
.btn-nam-good.active {
  background:#4251de ;
  color: #ffffff;
}


span {
  &:hover{
    background-color: red !important;
  }
}

#offcanvasExample{
  width: 150px; 
  height: 150px;
  margin-top: 300px;
  background: transparent !important;
  border: 0px transparent;
}


