@import "../../assets/scss/colors.scss";
@import "../../assets/scss/buttons.scss";
@import "../../assets/scss/selector.scss";

#menubtn {
  color: $primary-color;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

.selectionra {
  margin-left: 10px !important;
  color: black !important;
  border-radius: 4px;

  padding-left: 5px;
}

#icon-arrow {
  font-size: 20px;
  margin-right: 10px;
  animation: mover 3s ease-in-out infinite;
}


@keyframes mover {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
/* Style the input fields */
.form-inline inpselectut {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
select,
::picker(select) {
  appearance: base-select;
  min-width: 100px;
  border: none;
}
select::picker-icon {
  transition: 0.4s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}
option:checked {
  background-color: whitesmoke;
  color: $primary-color;
  font-weight: 600;

}
option::checkmark {
  order: 1;
  margin-left: auto;
  content: "";
}
::picker(select) {
  border: 1px solid whitesmoke;
  border-radius: 4px;
  margin-top: 5px;
  box-shadow: 0 3px 10px rgb(0,0,0,0.2);
    opacity: 0;
  transition: all 0.4s allow-discrete;
}
::picker(select):popover-open {
  opacity: 1;
}
@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}

option:hover {
  background-color: whitesmoke;
}

.btn-nam-good {
  background: #28328a;
  color: #ffffff;
  border-width: 0;
  // font-family: 'Barlow Semi Condensed', 'Arial', 'Helvetica';
  letter-spacing: 0.05em;
  border-radius: 0;
}
.btn-nam-good:hover,
.btn-nam-good:focus,
.btn-nam-good.active {
  background: #4251de;
  color: #ffffff;
}

#offcanvasExample {
  width: 150px;
  height: 150px;
  margin-top: 75px;
  background: transparent !important;
  border: 0px transparent;
}

.read-only {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;

  opacity: 0.8;
}

.icon {
  &:hover {
    color: $secondary-color;
  }
}
