<ng-template #contextMenu>
  <div class="container-menu">
    @for (option of options; track option.label) {

    <button class="btnOptionContextMenu" [disabled]="!user.write"
      (click)="handleMenuAction(option.action); closeMenu();"> <i [class]="option.icon"></i> {{ option.label }}</button>
    }
  </div>
</ng-template>

<ul class="list-unstyled ps-0">
  <li class="mb-1  ">
    <button (contextmenu)="onRightClick($event, ra,'folder',false)"
      class="btn btn-toggle align-items-center mb-1 rounded" data-bs-toggle="collapse" data-bs-target="#home-collapse"
      aria-expanded="true">
      <i class="fa-regular plus-icon folder-normal fa-folder"></i>
      <i class="fa-regular folder-open fa-folder-open"></i>
      Private ({{ra.listRA[user.username]?.length}})
    </button>
    <div class="collapse show" id="home-collapse">
      <ul class="btn-toggle-nav rounded list-items list-unstyled fw-normal pb-1 small">
        @for (item of ra.listRA[user.username]; track item) {
          @if (isFolder(item)) {
            <li (contextmenu)="onRightClick($event, item.folder, 'subfolder')" class="item folder-item" [value]="item.folder">
              <button type="button" class="btn btn-toggle align-items-center rounded p-0" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#folder-' + item.folder" aria-expanded="true">
                <i class="fa-regular plus-icon folder-normal fa-folder"></i>
                <i class="fa-regular folder-open fa-folder-open"></i>
                {{ item.folder.replace('_folder_', '') }}
              </button>
            </li>
            <div class="collapse show" [id]="'folder-' + item.folder">
              <ul class="list-unstyled ms-3">
                @for (ra of item.items; track ra) {
                <li (contextmenu)="onRightClick($event, ra, 'file')" (click)="loadRA(item.folder + '/' + ra, true)"
                  class="item" [class.active]="this.ra.name === item.folder + '/' + ra" [value]="ra">
                  {{ ra }}
                </li>
                }
              </ul>
            </div>
          } @else {
          <li (contextmenu)="onRightClick($event, item, 'file')" (click)="loadRA(item)" class="item"
            [class.active]="ra.name === item" [value]="item">
            {{ item }}
          </li>
          }
        }
      </ul>
    </div>
  </li>
  <li class="mb-1">
    <button (contextmenu)="onRightClick($event, ra,'folder',true)"
      class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#dashboard-collapse" aria-expanded="false">
      <i class="fa-regular plus-icon folder-normal fa-folder"></i>
      <i class="fa-regular folder-open fa-folder-open"></i>
      Shared ({{ra.listRA['shared']?.length}})
    </button>
    <div class="collapse" id="dashboard-collapse">
      <ul class="btn-toggle-nav rounded list-items list-unstyled fw-normal pb-1 small">
        @for(item of ra.listRA['shared']; track item) {
          @if (isFolder(item)) {
            <li (contextmenu)="onRightClick($event, item.folder, 'subfolder', true)" class="item folder-item"
              [value]="item.folder">
              <button type="button" class="btn btn-toggle align-items-center rounded p-0" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#folder-' + item.folder.replace('+_folder_', '')" aria-expanded="true">

                <i class="fa-regular plus-icon folder-normal fa-folder"></i>
                <i class="fa-regular folder-open fa-folder-open"></i>

                {{ item.folder.replace('+_folder_', '') }}
              </button>
            </li>
            <div class="collapse show" [id]="'folder-' + item.folder.replace('+_folder_', '')">
              <ul class="list-unstyled ms-3">
                @for (ra of item.items; track ra) {
                <li (contextmenu)="onRightClick($event, ra, 'file')" (click)="loadRA(item.folder + '/' + ra, true)"
                  class="item" [class.active]="this.ra.name === item.folder + '/' + ra" [value]="ra">
                  {{ ra.slice(1) }}
                </li>
                }
              </ul>
            </div>
          } @else {
          <li (contextmenu)="onRightClick($event, item, 'file',true)" (click)="loadRA(item)" class="item"
            [class.active]="ra.name === item" [value]="item">
            {{ item.slice(1)}}
          </li>
          }
        }
      </ul>
    </div>
  </li>
</ul>
<!-- import ra -->
<app-import-ra #importRA />
<!-- rename ra  modal -->
<app-rename-ra-modal #renameModal />
<!-- rename folder modal -->
<app-rename-folder-modal #renameFolderModal />
<!-- new ra modal-->
<app-new-ra-modal #newRaModal />
<!-- new folder modal -->
<app-new-folder-modal #newFolderModal />
<!-- delete folder modal -->
<app-delete-folder-modal #deleteFolderModal />