@import '../../assets/scss/title.scss';


.header {
    background-color: $primary-color;
    color: white;
}


#dtResults {
    padding-top:10px;
    thead {
        background-color: #59AD2B;
        color: white;
    }
}
