<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-pending-tasks-tab" data-bs-toggle="pill" data-bs-target="#pills-pending-tasks" type="button" role="tab" aria-controls="pills-pending-tasks" aria-selected="True">Pending tasks</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-workflow-tab" data-bs-toggle="pill" data-bs-target="#pills-workflow" type="button" role="tab" aria-controls="pills-workflow" aria-selected="false">Workflow</button>
    </li>
      <img [src]="'../assets/img/riskhunterlogo.png'" alt="logo riskhunter">
  </ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active container-fluid" id="pills-pending-tasks" role="tabpanel" aria-labelledby="pills-pending-tasks-tab">Pending tasks</div>
  <div class="tab-pane fade container-fluid" id="pills-workflow" role="tabpanel" aria-labelledby="pills-workflow-tab">Workflow</div>
</div> 
