@import "../../assets/scss/colors.scss";

.modal-dialog {
  position: absolute;
  cursor: move;
}

#supportModalLabel {
  color: $primary-color;
}

.modal-footer {
  border: none;
}

table {
  thead {
    color: $secondary-color;
  }
}
