@import "../../assets/scss/title.scss";
@import "../../assets/scss/buttons.scss";

.container-form {
  color: $secondary-color;
}

.containerMols {
  max-height: 300px;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}
.modal {
  color: $secondary-color;
}