<div  class="container-fluid">
<div class="container-form p-3">
    <form id="generalInformationForm"  (ngSubmit)="onSubmit()"  [formGroup]="generalInformationForm">
        <div class="row mb-3">
            <label for="inputPassword3" class="col-3 col-form-label">Title:</label>
            <div class="col">
              <input [readonly]="this.ra?.status?.step > 1" name="title" [placeholder]="this.ra.general_information.placeholders['title']" formControlName="title" type="text" class="form-control" id="title">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-3 col-form-label">General description:</label>
            <div class="col">
              <input [readonly]="this.ra?.status?.step > 1" name="general_description" [placeholder]="this.ra.general_information.placeholders['general_description']" formControlName="general_description" type="text" class="form-control" id="general_description">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-3 col-form-label">Background:</label>
            <div class="col">
              <input [readonly]="this.ra?.status?.step > 1" name="background" [placeholder]="this.ra.general_information.placeholders['background']" formControlName="background" type="text" class="form-control" id="background">
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputPassword3" class="col-3 col-form-label">Endpoint:</label>
            <div class="col">
              <input [readonly]="this.ra?.status?.step > 1" name="endpoint" [placeholder]="this.ra.general_information.placeholders['endpoint']" formControlName="endpoint" type="text" class="form-control" id="endpoint">
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputPassword3" class="col-3 col-form-label">Administration route:</label>
            <div class="col">
              <input [readonly]="this.ra?.status?.step > 1" name="administration_route" [placeholder]="this.ra.general_information.placeholders['administration_route']" formControlName="administration_route" type="text" class="form-control" id="administration_route">
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputPassword3" class="col-3 col-form-label">Regulatory framework:</label>
            <div class="col">
              <input [readonly]="this.ra?.status?.step > 1" name="regulatory_framework" [placeholder]="this.ra.general_information.placeholders['regulatory_framework']" formControlName="regulatory_framework" type="text" class="form-control" id="regulatory_framework">
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputPassword3" class="col-3 col-form-label">Species:</label>
            <div class="col">
              <input [readonly]="this.ra?.status?.step > 1" name="species" [placeholder]="this.ra.general_information.placeholders['species']" formControlName="species" type="text" class="form-control" id="species">
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputPassword3" class="col-3 col-form-label">Uncertainty:</label>
            <div class="col">
              <input [readonly]="this.ra?.status?.step > 1" name="uncertainty" [placeholder]="this.ra.general_information.placeholders['uncertainty']" formControlName="uncertainty" type="text" class="form-control" id="uncertainty">
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputPassword3" class="col-3 col-form-label">Substance:</label>
            <div class="col">
                <div class="row mb-3">
                  <label for="inputPassword3" class="col-2 col-form-label">Name(s)</label>
                  <div class="col">
                    <input [readonly]="this.ra?.status?.step > 1" name="substance_name" [placeholder]="this.ra.general_information.placeholders['substances'].name" formControlName="substance_name" type="text" class="form-control" id="substance_name">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword3" class="col-2 col-form-label">ID(s)</label>
                  <div class="col">
                    <input [readonly]="this.ra?.status?.step > 1" name="substance_id" [placeholder]="this.ra.general_information.placeholders['substances'].id" formControlName="substance_id" type="text" class="form-control" id="substance_id">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword3" class="col-2 col-form-label">CAS-RN(s)</label>
                  <div class="col">
                    <input [readonly]="this.ra?.status?.step > 1"  name="substance_CASRN" [placeholder]="this.ra.general_information.placeholders['substances']['cas-rn']" formControlName="substance_CASRN" type="text" class="form-control" id="substance_CASRN">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword3" class="col-2 col-form-label">Structure</label>
                  <div class="col">
                    <input [readonly]="this.ra?.status?.step > 1"  name="substance_SMILES" placeholder="" formControlName="substance_SMILES" type="file" class="form-control text-start" id="substance_SMILES">
                  </div>
                </div>
            </div>
          </div> 
          <div class="row mb-3">
            <label for="inputPassword3" class="col-3 col-form-label">Workflow custom:</label>
            <div class="col">
              <input [readonly]="this.ra?.status?.step > 1" name="workflow_custom" [placeholder]="this.ra.general_information.placeholders['workflow_custom']" formControlName="workflow_custom" type="file" class="form-control" id="workflow_custom">
            </div>
          </div>
          <button [disabled]="this.ra?.status?.step > 1"    type="submit" class="btn btn-ets-do submit-button">Submit</button>
    </form>
</div>

</div>
