<div class="container-fluid">
  <div class="container-form p-3">
    <form
      id="generalInformationForm"
      #generalInformationForm="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row mb-3">
        <label for="inputPassword3" class="col-3 col-form-label">Title:</label>
        <div class="col">
          <input
            name="title"
            [placeholder]="this.ra.general_information.placeholders['title']"
            [(ngModel)]="this.ra.general_information.general.title"
            type="text"
            class="form-control"
            id="title"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-3 col-form-label"
          >General description:</label
        >
        <div class="col">
          <input
            name="general_description"
            [placeholder]="
              this.ra.general_information.placeholders['general_description']
            "
            [(ngModel)]="
              this.ra.general_information.general.general_description
            "
            type="text"
            class="form-control"
            id="general_description"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-3 col-form-label"
          >Background:</label
        >
        <div class="col">
          <input
            name="background"
            [placeholder]="
              this.ra.general_information.placeholders['background']
            "
            [(ngModel)]="this.ra.general_information.general.background"
            type="text"
            class="form-control"
            id="background"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="inputPassword3" class="col-3 col-form-label"
          >Endpoint:</label
        >
        <div class="col">
          <input
            name="endpoint"
            [placeholder]="this.ra.general_information.placeholders['endpoint']"
            [(ngModel)]="this.ra.general_information.general.endpoint"
            type="text"
            class="form-control"
            id="endpoint"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="inputPassword3" class="col-3 col-form-label"
          >Administration route:</label
        >
        <div class="col">
          <input
            name="administration_route"
            [placeholder]="
              this.ra.general_information.placeholders['administration_route']
            "
            [(ngModel)]="
              this.ra.general_information.general.administration_route
            "
            type="text"
            class="form-control"
            id="administration_route"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="inputPassword3" class="col-3 col-form-label"
          >Regulatory framework:</label
        >
        <div class="col">
          <input
            name="regulatory_framework"
            [placeholder]="
              this.ra.general_information.placeholders['regulatory_framework']
            "
            [(ngModel)]="
              this.ra.general_information.general.regulatory_framework
            "
            type="text"
            class="form-control"
            id="regulatory_framework"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="inputPassword3" class="col-3 col-form-label"
          >Species:</label
        >
        <div class="col">
          <input
            name="species"
            [placeholder]="this.ra.general_information.placeholders['species']"
            [(ngModel)]="this.ra.general_information.general.species"
            type="text"
            class="form-control"
            id="species"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="inputPassword3" class="col-3 col-form-label"
          >Uncertainty:</label
        >
        <div class="col">
          <input
            name="uncertainty"
            [placeholder]="
              this.ra.general_information.placeholders['uncertainty']
            "
            [(ngModel)]="this.ra.general_information.general.uncertainty"
            type="text"
            class="form-control"
            id="uncertainty"
          />
        </div>
      </div>
      <div *ngIf="this.ra?.status?.step == 0" class="row mb-3">
        <label for="inputPassword3" class="col-3 col-form-label"
          >Workflow custom:</label
        >
        <div class="col">
          <input
            name="workflow_custom"
            [placeholder]="
              this.ra.general_information.placeholders['workflow_custom']
            "
            type="file"
            class="form-control"
            id="workflow_custom"
            (change)="uploadCustomWorkflow($event)"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-3 col-form-label" for="">
          Permissions
        </label>
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="form-floating">
                <textarea id="readPermission" name="readPermission" [(ngModel)]="readPermission"  class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">  <i class="fa-brands icon fa-readme"></i>  Read</label>
              </div>
            </div>
            <div class="col">

              <div class="form-floating">
                <textarea  id="writePermission" name="writePermission" [(ngModel)]="writePermission"  class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">   <i class="fa-solid fa-pencil"></i> Write</label>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col mb-3 d-flex justify-content-end">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button
          type="button"
          class="btn btn-ets-do"
          (click)="applyPermissions()"
        >
          Apply Permissions
        </button>
          <button
            type="button"
            class="btn btn-ets-do"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Add Molecule
          </button>
          <button type="button" class="btn btn-ets-do">Import Table</button>
        </div>
      </div>
      <div class="containerMols">
        <table
          *ngIf="this.ra.general_information.general.substances.length > 0"
        >
          <thead class="thead">
            <tr>
              <th>Name</th>
              <th>CAS-RN</th>
              <th>Structure</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let idx of objectKeys(
                  this.ra.general_information.general.substances
                )
              "
            >
              <td>
                {{ this.ra.general_information.general.substances[idx].name }}
              </td>
              <td>
                {{ this.ra.general_information.general.substances[idx].casrn }}
              </td>
              <td><img id="canvas{{ idx }}" /></td>
              <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button
                    type="button"
                    (click)="deleteMol(idx)"
                    class="btn btn-ets-delete"
                  >
                    Delete
                  </button>
                  <button
                    type="button"
                    (click)="editMol(idx)"
                    class="btn btn-ets-do"
                    data-bs-toggle="modal"
                    data-bs-target="#editMolModal"
                  >
                    Edit
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-ets-do submit-button">Submit</button>
    </form>
  </div>
</div>

<!-- Modal add new Molecule -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Molecule</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col">
            <div class="row mb-3">
              <label for="inputPassword3" class="col-2 col-form-label"
                >Name(s)</label
              >
              <div class="col">
                <input
                  name="substance_name"
                  [placeholder]="
                    this.ra.general_information.placeholders['substances'].name
                  "
                  [(ngModel)]="this.substance_name"
                  type="text"
                  class="form-control"
                  id="substance_name"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-2 col-form-label"
                >ID(s)</label
              >
              <div class="col">
                <input
                  name="substance_id"
                  [placeholder]="
                    this.ra.general_information.placeholders['substances'].id
                  "
                  [(ngModel)]="this.substance_id"
                  type="text"
                  class="form-control"
                  id="substance_id"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-2 col-form-label"
                >CAS-RN(s)</label
              >
              <div class="col">
                <input
                  name="substance_CASRN"
                  [placeholder]="
                    this.ra.general_information.placeholders['substances'][
                      'cas-rn'
                    ]
                  "
                  [(ngModel)]="this.substance_CASRN"
                  type="text"
                  class="form-control"
                  id="substance_CASRN"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-2 col-form-label"
                >SMILES</label
              >
              <div class="col">
                <input
                  [(ngModel)]="this.substance_SMILES"
                  name="substance_SMILES"
                  id="substance_SMILES"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-2 col-form-label"
                >Structure</label
              >
              <div class="col">
                <input
                  name="substance_file"
                  placeholder=""
                  (change)="uploadSubstance($event)"
                  type="file"
                  class="form-control text-start"
                  id="substance_file"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col text-end">
                <button
                  type="button"
                  (click)="autocomplete()"
                  class="btn btn-ets-do"
                >
                  Autocomplete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          (click)="addMolecule(false)"
          class="btn btn-ets-do"
        >
          Add
        </button>
        <button type="button" class="btn btn-ets-bad" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal edit Molecule -->
<div
  class="modal fade"
  id="editMolModal"
  tabindex="-1"
  aria-labelledby="editMolModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editMolModal">Edit Molecule</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="col">
          <div class="row mb-3">
            <label for="inputPassword3" class="col-2 col-form-label"
              >Name</label
            >
            <div class="col">
              <input
                name="substance_name"
                [(ngModel)]="this.substance_name"
                type="text"
                class="form-control"
                id="substance_name"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-2 col-form-label"
              >CAS-RN</label
            >
            <div class="col">
              <input
                name="substance_CASRN"
                [(ngModel)]="this.substance_CASRN"
                type="text"
                class="form-control"
                id="substance_CASRN"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-2 col-form-label"
              >SMILES</label
            >
            <div class="col">
              <input
                name="substance_SMILES"
                [(ngModel)]="this.substance_SMILES"
                type="text"
                class="form-control"
                id="substance_SMILES"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          (click)="addMolecule(true)"
          class="btn btn-ets-do"
        >
          Edit
        </button>
        <button type="button" class="btn btn-ets-bad" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
