@import "../../assets/scss/title.scss";

#headerOverview {
  background-color: $primary-color;
  color: white;
}
.card-body {
  /* overflow: auto; */
  border-width: 0px;
  padding: 0px;
  margin-bottom: 5px;
}

.text {
  color: $secondary-color;
}

table {
  table-layout: fixed;
  width: 100%;
  thead {
    tr {
      th:nth-child(1) {
        width: 30% !important;
      }
      th:nth-child(2) {
        width: 20% !important;
      }
      th:nth-child(3) {
        width: 50% !important;
      }
    }
  }

  td {
    width: 150px;
  }
}

.containerMols {
  max-height: 300px;
  overflow: auto;
  color: $secondary-color;
  scrollbar-width: thin;
  scrollbar-color: whitesmoke white;
  &:hover {
    scrollbar-color: $tertiary-color white;
  }
 
}




thead tr th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}
