<div  class="container-fluid">
  <div class="card-body">
    <div class="row border-bottom" id="headerOverview">
      <div class="col">{{ ra?.name }} ({{ ra?.status?.ID }})</div>
    </div>
    <div class="row border-bottom">
      <div class="col text">
        <h6 class="mt-2">{{ ra?.general_information?.general.title }}</h6>
      </div>
    </div>
    <div class="row pt-1 pb-1 border-bottom">
      <div class="col-3 text">Substances</div>
      <div class="col">
        <div class="containerMols">
          <table style="width: 100%;">
            <thead class="thead">
              <tr>
                <th style="width:10%">Name</th>
                <th style="width:10%">CAS-RN</th>
                <th style="width:40%">Characteristics</th>
                <th style="width:40%">Structure</th>
              </tr>
            </thead>
            @if(ra.general_information?.general?.substances) {
            <tbody>
              @for (substance of ra.general_information.general.substances;track substance; let idx = $index) {
              <tr>
                <td>{{substance.name}}</td>
                <td>{{substance.casrn}}</td>
                <td>{{substance.characteristics}}</td>
                <td><img id="overviewCanvas{{idx}}"></td>
              </tr>
              }
            </tbody>
            }
          </table>
        </div>
      </div>
    </div>
    <div class="row pt-1 pb-1 border-bottom">
      <div class="col-3 text">Endpoint</div>
      <div class="col-3">
        <div class="row">
          {{ ra?.general_information?.general?.endpoint }}
        </div>
      </div>
    </div>
    <div class="row pt-1 pb-1 border-bottom">
      <div class="col-3 text">AR</div>
      <div class="col">
        <div class="row">
          {{ ra?.general_information?.general?.administration_route }}
        </div>
      </div>
    </div>
    <div class="row pt-1 pb-1 border-bottom">
      <div class="col-3 text">Species</div>
      <div class="col">
        <div class="row">
          {{ ra?.general_information?.general?.species }}
        </div>
      </div>
    </div>
    <div class="row pt-1 pb-1 border-bottom">
      <div class="col-3 text">Framework</div>
      <div class="col">
        <div class="row">
          {{ ra?.general_information?.general?.regulatory_framework }}
        </div>
      </div>
    </div>
    <div class="row pt-1 pb-1 border-bottom">
      <div class="col-3 text">Summary</div>
      <div class="col">
        <div class="row">
          {{ ra?.general_information?.general?.general_description }}
        </div>
      </div>
    </div>
    <div class="row pt-1 pb-1 border-bottom">
      <div class="col-3 text">Status</div>
      <div class="col-2 text">
        <div class="row">Workflow</div>
        <div class="row">Step</div>
        <div class="row">Active nodes</div>
      </div>
      <div class="col">
        <div class="row">
          <span style="text-align: center">{{
            ra?.status?.workflow_name
          }}</span>
        </div>
        <div class="row">
          <span style="text-align: center">{{ ra?.status?.step }}</span>
        </div>
        @for (task of ra.pending_tasks;track task.id) {
        <div class="row mb-1">
          <div class="col-2 text">{{ task.label }}</div>
          <div class="col-10" [innerHTML]="task.name | autolinkPipe"></div>
        </div>
        }
      </div>
    </div>
    <div class="row pt-1 pb-1 border-bottom">
      <div class="col-3 text">Read Users</div>
      <div class="col">
        <div class="row">
          {{ global?.permissions['read'] }}
        </div>
      </div>
    </div>
    <div class="row pt-1 pb-1 border-bottom">
      <div class="col-3 text">Write Users</div>
      <div class="col">
        <div class="row">
          {{ global?.permissions['write'] }}

        </div>
      </div>
    </div>
  </div>
</div>
