

<div  class="container-fluid">

<div class="card-body">
    <div class="row" style="background-color: #59AD2B;color:white">
        <div class="col-3 border">
          {{this.ra.name}} 
        </div>
        <div class="col border">
          {{this.ra.status.ID}}
        </div>
    </div>
      <div class="row">
        <div class="col-3 text border">
          <strong>Endpoint</strong>
        </div>
        <div class="col border">
            {{this.ra.general_information.general.endpoint}}
        </div>
      </div>
      <div class="row">
        <div class="col-3 text border">
          <strong>Administration route</strong>
        </div>
        <div class="col border">
            {{this.ra.general_information.general.administration_route}}
        </div>
      </div>
      <div class="row">
        <div class="col-3 text border">
          <strong>Species</strong>
        </div>
        <div class="col border">
            {{this.ra.general_information.general.species}}
        </div>
      </div>
      <div class="row">
        <div class="col-3 text border">
          <strong>Regulatory framework</strong>
        </div>
        <div class="col border">
            {{this.ra.general_information.general.regulatory_framework}}
        </div>
      </div>
      <div class="row">
        <div class="col-3 text border">
          <strong>Workflow</strong>
        </div>
        <div class="col border">
          {{this.ra.status.workflow_name}}
        </div>
      </div>
      <div class="row">
        <div class="col-3 text border">
          <strong>Step</strong>
        </div>
        <div class="col border">
          {{this.ra.status.step}}
        </div>
      </div>
      <div class="row">
        <div class="col-3 text border">
          <strong>Active nodes</strong>
        </div>
        <div class="col border">
          {{this.ra.status.active_nodes_id}}
        </div>
      </div>
      <div class="row" *ngIf="this.ra.general_information.general.substances">
        <div class="col text border d-flex align-items-center">
          <div style="padding-top: auto !important"><strong >Substances</strong></div>
        </div>
        <div class="col border">
      <table class="table table-borderless">
        <thead style="color: purple;">
            <tr>
              <th>Name</th>
              <th>CASRN</th>
              <th>SMILES</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let key of this.objectKeys(this.ra.general_information.general.substances)">
            <td>{{this.ra.general_information.general.substances[key].name}}</td>
            <td>{{this.ra.general_information.general.substances[key].CASRN}}</td>
            <td>{{this.ra.general_information.general.substances[key].SMILES}}</td>
          </tr>
        </tbody>
      </table>
        </div>
      </div>
</div>
</div>