<div class="container-fluid">

  <div class="card-body">
    <div class="row border-bottom" id="headerOverview" >
      <div class="col ">
        {{this.ra?.name}} ({{this.ra?.status?.ID}})
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col text">
        <h6 class="mt-2">{{this.ra?.general_information?.general.title}}</h6>
      </div>
    </div>
    <div class="row pt-1 pb-1 border-bottom">
      <div  class="col-3 text">
        Substance
      </div>
      <div class="col">
        <div class="row"> <div class="col-4 text">Name</div> <div class="col-8">{{this.ra.general_information.general.substances[0]?.name}}</div>  </div>
        <div class="row"> <div class="col-4 text">ID</div> <div class="col-8">{{this.ra.general_information.general.substances[0]?.id}}</div>  </div>
        <div class="row"> <div class="col-4 text">CAS-RN</div> <div class="col-8">{{this.ra.general_information.general.substances[0]?.casrn}}</div>  </div>
        <div class="row"> <div class="col-4 text">Structure</div> <div class="col-8"><canvas #OverviewCanvas id="substanceCanvas"></canvas></div>  </div>
      </div>
    </div>
    <div class="row pt-1 pb-1 border-bottom">
      <div class="col-3 text ">
        Endpoint
      </div>
      <div class="col-3">
        <div class="row">{{this.ra?.general_information.general?.endpoint}} </div>
      </div>
    </div>
    <div class="row pt-1 pb-1 border-bottom">
      <div class="col-3 text ">
        AR
      </div>
      <div class="col ">
        <div class="row">{{this.ra?.general_information.general?.administration_route}}</div>
      </div>
    </div>
    <div class="row pt-1 pb-1 border-bottom">
      <div class="col-3 text ">
        Species
      </div>
      <div class="col">
        <div class="row">{{this.ra?.general_information.general.species}}</div>
      </div>
    </div>
    <div class="row pt-1 pb-1 border-bottom">
      <div class="col-3 text ">
        Framework
      </div>
      <div class="col ">
        <div class="row">{{this.ra?.general_information.general.regulatory_framework}}</div>
      </div>
    </div>
    <div class="row pt-1 pb-1 border-bottom">
      <div class="col-3 text ">
        Summary
      </div>
      <div class="col ">
        <div class="row">{{this.ra?.general_information.general.general_description}}</div>
      </div>
    </div>
    <div class="row pt-1 pb-1 border-bottom">
      <div class="col-3 text">
      Status
      </div>
      <div class="col-2 text">
        <div class="row">Workflow</div>
        <div class="row">Step</div>
        <div class="row">Active nodes</div>
      </div>
      <div class="col">
        <div class="row"><span style="text-align:center">{{this.ra?.status?.workflow_name}}</span></div>
        <div class="row"><span style="text-align:center">{{this.ra?.status?.step}}</span></div>
          <div *ngFor="let task of this.ra.pending_tasks" class="row mb-1"> <div class="col-2 text">{{task.id}}</div> <div class="col-10">{{task.description}}</div></div>
      </div>
    </div>
    </div>
  </div>