@import "../../assets/scss/buttons.scss";

.user-container {
  display: flex;
  padding: 10px 10px 10px 1rem;
  background-color: $primary-color !important;
}

.user-details {
  display: flex;
  align-items: end;
  color: white;
  display: flex;

  gap: 5px;
  span {
    font-size: 16px;
  }
}
.logout-btn {
  i {
   opacity: 80%;
     color: white;
     cursor: pointer;
     &:hover {
      opacity: 100%;
     }
    }
}
