@import "../assets/scss/navbar.scss";

.app-base {
  padding-left: 0px;
  padding-right: 0px; /* prevents horizontal scrollbar*/
  overflow-x: hidden;
}
::ng-deep .as-split-gutter-icon {
  background-color: $tertiary-color;
}

.resource-icon {
  color: white;
  font-size: 20px;
  &:hover {
    color: whitesmoke;
    cursor: pointer;
  }
}
.help-container {
  background-color: transparent;
  transition: 0.3s;
  &:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  display: flex;
  margin-top: 5px;
  padding: 5px;
  gap: 8px;

  font-size: 15px;
  margin-right: 20px;
  border-radius: 5px;
  align-items: center;
  height: 80%;
}
