@import "../assets/scss/navbar.scss";

.app-base {
  padding-left: 0px;
  padding-right: 0px; /* prevents horizontal scrollbar*/
  overflow-x: hidden;
}
::ng-deep .as-split-gutter-icon {
  background-color: $tertiary-color;
}
