<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item help-container" role="presentation">
    <button
      class="nav-link active"
      id="pills-overview-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-overview"
      type="button"
      (click)="loadOverviewCanvas()"
      role="tab"
      aria-controls="pills-overview"
      aria-selected="True"
    >
      Overview
    </button>
  </li>
  <li class="nav-item help-container" role="presentation">
    <button
      class="nav-link"
      id="pills-gen-information-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-gen-information"
      type="button"
      role="tab"
      (click)="loadGeneralInfoCanvas()"
      aria-controls="pills-gen-information"
      aria-selected="false"
    >
      General information
    </button>
  </li>
  <li class="nav-item help-container" role="presentation">
    <button
      class="nav-link"
      id="pills-tasks-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-tasks"
      type="button"
      role="tab"
      aria-controls="pills-tasks"
      aria-selected="false"
    >
      Tasks
    </button>
  </li>
  <li class="nav-item help-container" role="presentation">
    <button
      class="nav-link"
      id="pills-decisions-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-decisions"
      type="button"
      role="tab"
      aria-controls="pills-decisions"
      aria-selected="false"
    >
      Decisions
    </button>
  </li>
  <li class="nav-item help-container" role="presentation">
    <button
      class="nav-link"
      id="pills-notes-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-notes"
      type="button"
      role="tab"
      aria-controls="pills-notes"
      aria-selected="false"
    >
      Notes
    </button>
  </li>
  <li class="nav-item help-container" role="presentation">
    <button
      class="nav-link"
      id="pills-report-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-report"
      type="button"
      role="tab"
      aria-controls="pills-report"
      aria-selected="false"
    >
      Report
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link help-container"
      href="https://landing-page-namastox.vercel.app/#resources"
      target="_blank"
    >
      Help
      <i
        style="font-size: 15px"
        class="fa-regular fa-circle-question resource-icon"
      ></i>
    </a>
  </li>

  <!-- modal with inforamtion about software -->
  <app-about-software></app-about-software>
  <!-- display information about user logged  -->
  <app-user-info></app-user-info>
  <!-- container logos  -->
  <div style="margin-left: auto !important">
    <app-logos></app-logos>
  </div>
  
</ul>
<as-split style="height: 93vh" class="" direction="horizontal">
  <as-split-area [size]="this.navbarleft">
    <div class="tab-content container-fluid" id="pills-tabContent">
      <app-select-ra></app-select-ra>
      <div
        class="tab-pane fade show active mt-2"
        id="pills-overview"
        role="tabpanel"
        aria-labelledby="pills-overview-tab"
      >
        <app-overview *ngIf="this.ra.name"></app-overview>
      </div>
      <div
        class="tab-pane fade mt-2"
        id="pills-gen-information"
        role="tabpanel"
        aria-labelledby="pills-gen-information-tab"
      >
        <app-general-information *ngIf="this.ra.name"></app-general-information>
      </div>
      <div
        class="tab-pane fade mt-2"
        id="pills-tasks"
        role="tabpanel"
        aria-labelledby="pills-tasks-tab"
      >
        <app-tasks *ngIf="this.ra.name"></app-tasks>
      </div>
      <div
        class="tab-pane fade mt-2"
        id="pills-decisions"
        role="tabpanel"
        aria-labelledby="pills-decisions-tab"
      >
        <app-decisions *ngIf="this.ra.name"></app-decisions>
      </div>
      <div
        class="tab-pane fade mt-2"
        id="pills-notes"
        role="tabpanel"
        aria-labelledby="pills-notes-tab"
      >
        <app-notes></app-notes>
      </div>
      <div
        class="tab-pane fade mt-2"
        id="pills-report"
        role="tabpanel"
        aria-labelledby="pills-report-tab"
      >
        <app-report></app-report>
      </div>
    </div>
  </as-split-area>
  <as-split-area [size]="this.navbarright">
    <!-- component select workflow progress or view full -->
    <app-workflow-options></app-workflow-options>
    <app-workflow-full-view [hidden]="this.global.progressTab">
    </app-workflow-full-view>
    <app-workflow-progress
      [hidden]="!this.global.progressTab"
    ></app-workflow-progress>
  </as-split-area>
</as-split>
