<ul class="nav nav-pills" id="results-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="pills-pendingdecisions-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-pendingdecisions"
      type="button"
      role="tab"
      aria-controls="pills-pendingdecisions"
      aria-selected="True"
    >
      Pending
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-pastdecisions-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-pastdecisions"
      type="button"
      role="tab"
      aria-controls="pills-pastdecisions"
      aria-selected="false"
    >
      Completed
    </button>
  </li>
</ul>

<div class="tab-content container-fluid" id="pills-tabContent">
  <div
    class="tab-pane fade show active mt-2"
    id="pills-pendingdecisions"
    role="tabpanel"
    aria-labelledby="pills-pendingdecisions-tab"
  >
    <div *ngIf="this.pendingTasks.decisions.length > 0; else noDecisions">
      <div class="row">
        <div class="col">
          <select
            (change)="getPendingTask()"
            id="selectPendingDecision"
            [(ngModel)]="this.pending_task_selected"
            class="form-select"
            aria-label="Default select example"
          >
            <option
              *ngFor="let idx of objectKeys(this.pendingTasks.decisions)"
              [value]="this.pendingTasks.decisions[idx].id"
            >
              {{ this.pendingTasks.decisions[idx].label }}
            </option>
          </select>
          <div
            *ngIf="this.pending_task?.result"
            class="container-information mt-2"
          >
            <div class="card-body">
              <div class="row">
                <div class="col-2 text">
                  <strong>Name</strong>
                </div>
                <div class="col-10">
                  {{ this.pending_task["task description"].name }}
                </div>
              </div>
              <div class="row">
                <div class="col-2 text">
                  <strong>Description</strong>
                </div>
                <div class="col-10" *ngIf="this.pending_task['task description'].description" [innerHTML]="this.pending_task['task description'].description | autolinkPipe">
                </div>
              </div>
              <div class="row">
                <div class="col-2 text">
                  <strong>Method links</strong>
                </div>
                <div *ngIf="this.pending_task['task description'].method_link[0] !== 'local_models'" class="col-10">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item" *ngFor="let link of this.pending_task['task description'].method_link">
                        <a target="_blank" [href]="link">{{link}}</a>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
            <decisions-form
              *ngIf="this.pending_task"
              [editMode]="false"
              [task]="this.pending_task"
            >
            </decisions-form>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noDecisions>No pending decisions</ng-template>
  </div>
  <div
    class="tab-pane fade"
    id="pills-pastdecisions"
    role="tabpanel"
    aria-labelledby="pills-pastdecisions-tab"
  >
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            id="tableCollapse"
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Completed Task
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="row">
              <div class="col">
                <table id="dtDecisions" class="display compact">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Label</th>
                      <th>Name</th>
                      <th>summary</th>
                      <th>decision</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      (click)="selectDecision(decision.id)"
                      *ngFor="let decision of this.results.decisions"
                    >
                      <td>{{ decision.date | formatDate }}</td>
                      <td>{{ decision.label }}</td>
                      <td>{{ decision.name }}</td>
                      <td>{{ decision.summary | slice : 0 : 150 }}...</td>
                      <td>{{ decision.decision ? 'Yes' : 'No'  }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            (click)="showTablePastDecisions()"
            id="pastCollapse"
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="true"
            aria-controls="flush-collapseTwo"
          >
            {{ this.results?.decisionSelected["task description"]?.label }}
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div
              class="mt-2"
              *ngIf="
                this.results.decisionSelected && !this.global.editModeDecisions
              "
            >
              <hr />
              <div class="card-body mb-3">
                <div class="row">
                  <div class="col-2 text">
                    <strong>Date</strong>
                  </div>
                  <div class="col-10">
                    {{ this.results.decisionSelected["task description"].date }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 text">
                    <strong>Name</strong>
                  </div>
                  <div class="col-10">
                    {{ this.results.decisionSelected["task description"].name }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 text">
                    <strong>Description</strong>
                  </div>
                  <div class="col-10" *ngIf="this.pending_task['task description'].description" [innerHTML]="this.results.decisionSelected['task description'].description | autolinkPipe">
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 text">
                    <strong>Method links</strong>
                  </div>
                  <div *ngIf="this.pending_task['task description'].method_link[0] !== 'local_models'" class="col-10">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let link of this.results.decisionSelected['task description'].method_link">
                          <a target="_blank" [href]="link">{{link}}</a>
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row pt-1 pb-1">
                  <div class="col-2 text border-bottom">Decision</div>
                  <div class="col border-bottom">
                    <span
                      *ngIf="
                        this.results.decisionSelected.result.decision;
                        else elseBlock
                      "
                    >
                      Yes
                    </span>
                    <ng-template #elseBlock> No </ng-template>
                  </div>
                </div>
                <div class="row pt-1 pb-1">
                  <div
                    class="col-2 text border-bottom d-flex align-items-center"
                  >
                    Documentation
                  </div>
                  <div class="col border-bottom">
                    <div
                      class="d-inline mx-1"
                      *ngFor="
                        let idx of objectKeys(
                          this.results.decisionSelected.result.links
                        )
                      "
                    >
                      <button
                        (click)="
                          downloadFile(
                            this.results.decisionSelected.result.links[idx].File
                          )
                        "
                        class="btn btn-outline-success mt-2 mb-2"
                      >
                        {{
                          this.results.decisionSelected.result.links[idx].label
                        }}
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row pt-1 pb-1">
                  <div class="col-2 text border-bottom">Summary</div>
                  <div class="col border-bottom formatted-text">{{ this.results.decisionSelected.result.summary }}</div>
                </div>
                <div class="row pt-1 pb-1">
                  <div class="col-2 text border-bottom">Justification</div>
                  <div class="col border-bottom formatted-text">{{ this.results.decisionSelected.result.justification }}</div>
                </div>
                <div
                  class="row pt-1 pb-1"
                  *ngIf="this.results.decisionSelected.substance"
                >
                  <div class="col-2 text">Substance</div>
                  <div class="col">
                    <table
                      id="dtSubstancesDecisions"
                      class="table table-borderless"
                    >
                      <thead class="text">
                        <tr>
                          <th style="text-align: center">Name</th>
                          <th style="text-align: center">CASRN</th>
                          <th style="text-align: center">SMILES</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let idx of objectKeys(
                              this.results.decisionSelected.substance
                            )
                          "
                        >
                          <td
                            style="vertical-align: middle; text-align: center"
                          >
                            {{
                              this.results.decisionSelected.substance[idx].name
                            }}
                          </td>
                          <td
                            style="vertical-align: middle; text-align: center"
                          >
                            {{
                              this.results.decisionSelected.substance[idx].CASRN
                            }}
                          </td>
                          <td style="text-align: center">
                            <canvas [id]="'decisionCanvas' + idx"></canvas>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <button (click)="editDecision()" class="btn btn-ets-edit">
                    Edit
                  </button>
                </div>
              </div>
            </div>
            <decisions-form
              *ngIf="this.global.editModeDecisions"
              [editMode]="true"
              [task]="this.results.decisionSelected"
            >
            </decisions-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
