@import '../../assets/scss/title.scss';


#dtDecisions {
    padding-top:10px;
    thead {
        background-color: #59AD2B;
        color: white;
    }
}

hr{
    height: 3px;
    background-color: $tertiary-color;
    border: None;
}

.text {
    color: $secondary-color;
  }

