<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Molecule</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col">
            <div class="row mb-3">
              <label for="inputPassword3" class="col-2 col-form-label"
                >Name(s)</label
              >
              <div class="col">
                <input
                  name="substance_name"
                  [placeholder]="
                    this.ra.general_information?.placeholders['substances']?.name
                  "
                  [(ngModel)]="this.substance_name"
                  type="text"
                  class="form-control"
                  id="substance_name"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-2 col-form-label"
                >ID(s)</label
              >
              <div class="col">
                <input
                  name="substance_id"
                  [placeholder]="
                    this.ra.general_information?.placeholders['substances']?.id
                  "
                  [(ngModel)]="this.substance_id"
                  type="text"
                  class="form-control"
                  id="substance_id"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-2 col-form-label"
                >CAS-RN(s)</label
              >
              <div class="col">
                <input
                  name="substance_CASRN"
                  [placeholder]="
                    this.ra.general_information?.placeholders['substances'][
                      'cas-rn'
                    ]
                  "
                  [(ngModel)]="this.substance_CASRN"
                  type="text"
                  class="form-control"
                  id="substance_CASRN"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-2 col-form-label"
                >SMILES</label
              >
              <div class="col">
                <input
                  [(ngModel)]="this.substance_SMILES"
                  name="substance_SMILES"
                  id="substance_SMILES"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-2 col-form-label"
                >Structure</label
              >
              <div class="col">
                <input
                  name="substance_file"
                  placeholder=""
                  (change)="uploadSubstance($event)"
                  type="file"
                  class="form-control text-start"
                  id="substance_file"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-2 col-form-label"></label>
              <div class="col">
                <div class="form-floating">
                  <textarea
                    id="substance_characteristics"
                    name="substance_characteristics"
                    [(ngModel)]="substance_characteristics"
                    class="form-control"
                    placeholder="Leave a comment here"
                    style="height: 100px"
                  ></textarea>
                  <label for="floatingTextarea2">
                    Define the characterization of the compound
                  </label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col text-end">
                <button
                  type="button"
                  (click)="autocomplete()"
                  class="btn btn-ets-do border-btn"
                >
                  Autocomplete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          (click)="addMolecule()"
          class="btn btn-ets-do border-btn"
        >
          Add
        </button>
        <button type="button" class="btn btn-ets-bad border-btn" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>