@import "../../assets/scss/buttons.scss";

.modal-title,
.label_name {
  color: $secondary-color;
}
.version-text{
  vertical-align: bottom; 
  margin-left: 10px;
  color: gray;
  line-height: 1;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
  pointer-events: none; 
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  pointer-events: auto;
}

.duplicate-btn,.delete-step-btn {
  margin-right: 10px !important;
}

.read-only {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;

  opacity: 0.8;
}
.icon {
  &:hover {
    color: $secondary-color;
  }
}


