

<div id="navbar" style="min-height: 44px; background-color: green;">
    <img [src]="'../assets/img/riskhunterlogo.png'" alt="logo riskhunter">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
           <div class="container-table">
            <app-options-ras>
            </app-options-ras>
            <table  id="dataTableRAs" class="table display compact">
                <thead>
                  <tr>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="selectRa(ra)" *ngFor="let ra of listRa">
                    <td>{{ra}}</td>
                  </tr>
                </tbody>
              </table>
           </div>
        </div>
        <div class="col-4">
            <div class="container-logo">
              <img [src]="'../assets/img/riskhunterlogo2.png'" alt="logo riskhunter">
            </div>

        </div>
    </div>
</div>