@import '../../../assets/scss/buttons.scss';

.container-form {
    color: $secondary-color;
}
.addbtn {
    color: $tertiary-color;
}

.modal-content {
    border: 2px solid  $primary-color !important;
    // background: linear-gradient(to right, $primary-color, #DE6168);
    // opacity: 0.95;
}

.modal-dialog {
    position: absolute;
    cursor: move;
}
#suppIDText{
    color: rosybrown;
    font-size: smaller;
    margin-left: 5px !important;
}
#supportModalLabel {
    color: $primary-color;
}
.primary-color{
    color: $primary-color;
}
table {
    thead {
        color: $secondary-color;
    }
}