@import "../../../assets/scss/buttons.scss";

.container-form {
  color: $secondary-color;
}
.addbtn {
  color: $tertiary-color;
}

.sm-text{
  font-size: 13.5px !important;
}

#suppIDText {
  color: rosybrown;
  font-size: smaller;
  margin-left: 5px !important;
}




