@import '../../../assets/scss/buttons.scss';

.container-form {
    color: $secondary-color;
}
.addbtn {
    color: $tertiary-color;
}

 .modal-content {
     border: 0.2px solid  $primary-color !important;
 }

.modal-dialog {
    position: absolute;
    cursor: move;
}
#suppIDText{
    color: rosybrown;
    font-size: smaller;
    margin-left: 5px !important;
}
#supportModalLabel {
    color: $primary-color;
}
.primary-color{
    color: $primary-color;
}
.secondary-color{
    color: $secondary-color;
}
table {
    thead {
        color: $secondary-color;
    }
}

.modal-footer {
    border: none; 
  }
