@import "../../../assets/scss/buttons.scss";

.container-form {
  color: $secondary-color;
}
.addbtn {
  color: $tertiary-color;
}

<<<<<<< HEAD
//  .modal-content {
//      border: 0.2px solid  $primary-color !important;
//  }

.modal-xl {
  --bs-modal-width: 1500px !important;
}

=======
.sm-text{
  font-size: 13.5px !important;
}
>>>>>>> c0bebc655311d4d3a29574555099e79f59a7d384
.modal-dialog {
  position: absolute;
  cursor: move;
}
#suppIDText {
  color: rosybrown;
  font-size: smaller;
  margin-left: 5px !important;
}
#supportModalLabel {
  color: $primary-color;
}
.primary-color {
  color: $primary-color;
}
.secondary-color {
  color: $secondary-color;
}
table {
  thead {
    color: $secondary-color;
  }
}

.modal-footer {
  border: none;
}
