<form
  id="addNoteForm"
  #addNoteForm="ngForm"
  (ngSubmit)="onSubmit()"
  class="container-form mt-3"
>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-12">
          <input [(ngModel)]="this.title" placeholder="Insert title" type="text" id="title" class="form-control" name="title">
        </div>
      </div>
    </div>
  </div>
  <!-- textarea note form -->
  <div class="row mt-4">
    <label for="inputPassword3" class="col-2 col-form-label"></label>
    <div class="col-12">
      <textarea
      [(ngModel)]="this.text"
        rows="4"
        required
        placeholder="Insert your text here"
        type="text"
        class="form-control"
        name="information"
        id="information"
      >
      </textarea>
    </div>

  </div>

  <div class="row mt-4 ml-1">
    <div class="col d-flex justify-content-end">
      <button
        [disabled]="addNoteForm.invalid"
        type="submit"
        class="btn btn-ets-do border-btn submit-button"
      >
        Add
      </button>
    </div>
  </div>
</form>